<div class="main-container">
  <app-slider></app-slider>
  <div class="info-title">
    <h3>PARTE DE LO QUE BRINDAMOS</h3>
  </div>
  <div class="info-cards-container">
    <div class="card">
      <div class="img-container">
        <img src="../../../assets/home/cards/card4.png" alt="" />
      </div>
      <div class="card-info">
        <h4>CONGRESOS</h4>
        <p>
          Eventos que convoca a expertos de las principales firmas de estudios
          de abogados y de auditoría internacional con el objetivo de
          profundizar temas controversiales afines a nuestra especialidad.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="img-container">
        <img src="../../../assets/home/cards/card5.png" alt="" />
      </div>
      <div class="card-info">
        <h4>SIMPOSIOS</h4>
        <p>
          Pioneros en agonizar eventos trascendentales en el Perú, Colombia y
          México, que convoca a prestigiosos profesionales que asesoran a
          compañías transnacionales.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="img-container">
        <img src="../../../assets/home/cards/card6.png" alt="" />
      </div>
      <div class="card-info">
        <h4>CURSOS-TALLERES</h4>
        <p>
          Cursos y talleres de calidad en todos los campos de estudio Contable,
          Tributario, laboral, Gestión Administrativa y Gestión Pública a cargo
          de los mejores docentes del Perú y extranjero.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="img-container">
        <img src="../../../assets/home/cards/card7.png" alt="" />
      </div>
      <div class="card-info">
        <h4>IN COMPANY</h4>
        <p>
          Capacitación In Company para nuestros asociados y demás empresas
          privadas y públicas del país, adaptando a las necesidades puntuales de
          sus requirimientos.
        </p>
      </div>
    </div>
  </div>

  <div class="cursos-mas-container">
    <div class="title-cursos-container">
      <h3>Educación ejecutiva en tiempo real</h3>
      <p>
        Estudia con los especialistas en contabilidad, derecho tributario,
        derecho laboral, gestión administrativa, recursos humanos, gestión
        pública y más.
      </p>
      <img src="../../../assets/imgs/logo/grupo-contable.png" alt="" />
    </div>
    <div class="cursos-info-container">
      <img
        src="../../../assets/home/cursos-y-mas/bg-cursos-mas-home.jpg"
        alt=""
      />
      <div class="cursos-home-container">
        <div class="curso-home">
          <h4>CURSOS CONTABLES</h4>
        </div>
        <div class="curso-home">
          <h4>DIPLOMATURAS</h4>
        </div>
        <div class="curso-home">
          <h4>CURSOS TRIBUTARIOS</h4>
        </div>
        <div class="curso-home">
          <h4>CURSOS LABORALES</h4>
        </div>
        <div class="curso-home">
          <h4>ESPECIALIZACIÓN</h4>
        </div>
        <div class="curso-home">
          <h4>PROGRAMAS</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="eventos-home">
    <div class="imgs-evento">
      <img src="../../../assets/home/cursos-y-mas/eventopucp.jpg" alt="" />
      <p>IV Simposio Tributario en Lima</p>
    </div>
    <div class="title-evento">
      <div class="title-evento-child">
        <h3>Entérate de nuestros próximos eventos</h3>
      <p>INSCRÍBETE HOY!</p>
      <div class="evento-btns">
        <input type="button" value="REGISTRARSE">
      </div>
      </div>
    </div>
  </div>

</div>
