<div class="about-container">
  <div class="banner">
    <div class="title">
      <h1>Grupo Contable</h1>
      <h3>Especialistas en Contabilidad</h3>
      <p>
        Comprometidos con desarrollo del Profesional Contable, Tributario,
        Laboral y Gestión Pública.
      </p>
    </div>
  </div>
  <div class="about-info">
    <div class="ejecutiva">
      <div class="ejecutiva-desc">
        <h3 data-aos="fade-up" data-aos-duration="800">Historia</h3>
        <p data-aos="fade-up" data-aos-duration="1000">
          Grupo Contable fue fundado el 12 octubre del 2012 con el objeto de
          proporcionar a nuestros clientes una solución integral. Nuestro
          desafío es poder proveerle servicios profesionales comprometido y de
          calidad.
          <!-- 
                Nuestro staff de profesionales ejercen la docencia en las más prestigiosas universidades del Perú y
                del extranjero, son ex funcionarios de Sunat, escriben artículos en la Revista Digital de Grupo
                Contable, con todo ello y su acumulada experiencia permiten brindar a nuestros clientes la asesoría
                que necesitan.

                Como toda gran empresa nació con la visión de ofrecer un valor agregado y soluciones concretas y
                específicas para cada negocio.

                La base principal de los Profesionales de Grupo Contable es marcar la diferencia en las
                organizaciones y dar un servicio de calidad, con enfoque global que trasciende las fronteras.

                Esperamos seguir escribiendo nuestra propia historia, día a día, en esta línea ascendente en
                variedad y calidad de servicios para nuestros clientes actuales y potenciales. -->
        </p>
      </div>
      <div class="ejecutiva-img">
        <img
          data-aos="fade-zoom-in"
          data-aos-duration="1500"
          src="../../../assets/home/home3.png"
          alt=""
        />
      </div>
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path
        fill="#0099ff"
        fill-opacity="0.99"
        d="M0,256L30,234.7C60,213,120,171,180,149.3C240,128,300,128,360,112C420,96,480,64,540,80C600,96,660,160,720,170.7C780,181,840,139,900,128C960,117,1020,139,1080,128C1140,117,1200,75,1260,58.7C1320,43,1380,53,1410,58.7L1440,64L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z"
        style="stroke: none; fill: rgb(16, 149, 175)"
      ></path>
    </svg>
    <div class="cursos-container ejecutiva">
      <div class="ejecutiva-img">
        <img
          data-aos="fade-zoom-in"
          data-aos-duration="1500"
          src="../../../assets/home/home4.png"
          alt=""
        />
      </div>
      <div class="ejecutiva-desc">
        <h3 data-aos="fade-up" data-aos-duration="800">Misión</h3>
        <p data-aos="fade-up" data-aos-duration="1000">
          Nuestra misión es ofrecer servicios de la más alta calidad en el Área
          Contable, Financiero, Tributario, Laboral y Gubernamental, con la
          experiencia y profesionalismo en cada uno de sus actos, brindando a
          nuestros Clientes eficiencia, eficacia y economía en respuesta a la
          confianza que nos brindan
        </p>
      </div>
    </div>

    <!--     <div style="height: px; margin-top:-5px;" >
  

          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#0099ff" fill-opacity="0.99" d="M0,64L48,69.3C96,75,192,85,288,80C384,75,480,53,576,58.7C672,64,768,96,864,112C960,128,1056,128,1152,149.3C1248,171,1344,213,1392,234.7L1440,256L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z" style="stroke: none; fill: rgb(16, 149, 175); height:50px;"></path>
          </svg>
    </div> -->

    <div class="ejecutiva">
      <div class="ejecutiva-desc">
        <h3 data-aos="fade-up" data-aos-duration="800">Visión</h3>
        <p data-aos="fade-up" data-aos-duration="1000">
          Ser una empresa líder en consultoría y asesoría empresarial con
          presencia a nivel internacional desarrollando estrategias de negocios
          que apoyen en todo momento su crecimiento.
        </p>
      </div>
      <div class="ejecutiva-img">
        <img
          data-aos="fade-zoom-in"
          data-aos-duration="1500"
          src="../../../assets/home/home5.png"
          alt=""
        />
      </div>
    </div>

    <!-- CONFIA EN NOSOTROS -->
    <div class="confianza">
      <div class="confianza-title">
        <h1 class="titulos">¿Por qué confiar en nosotros?</h1>
      </div>

      <div class="cards">
        <mat-accordion data-aos="fade-up" data-aos-duration="2000">
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="icon-home">
                  <mat-icon> cached </mat-icon>
                </div>
                <p>Compromiso y Responsabilidad</p>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
              Colaboramos con nuestros clientes de forma proactiva, profesional
              y transparente, ayudando a crear confianza mutua que caracteriza a
              nuestra empresa.
            </p>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion data-aos="fade-up" data-aos-duration="2000">
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="icon-home">
                  <mat-icon> supervisor_account </mat-icon>
                </div>
                <p>Trabajo en Equipo</p>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
              Apostamos por mejorar en cada asistencia y la ilusión de
              satisfacer a nuestros clientes, ayudando a mejorar cada día el
              negocio de nuestros clientes y así obtener los mejores resultados.
            </p>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion data-aos="fade-up" data-aos-duration="2000">
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="icon-home">
                  <mat-icon> trending_up </mat-icon>
                </div>
                <p>Experiencia</p>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
              Disponemos de un equipo de profesionales con larga experiencia en
              el sector laboral y tributario, llevando a cabalidad todas las
              tareas de administración de personal, manejo de planillas de
              diferentes regímenes laborales de la legislación Peruana y manejo
              de la contabilidad de Empresa.
            </p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>

    <!-- NUESTRO EQUIPO-->
    <div class="title-cursos-container">
      <h3 class="titulos" data-aos="fade-up" data-aos-duration="1500">
        Nuestro Equipo
      </h3>

      <div class="linear" data-aos="fade-right" data-aos-duration="1500">
        <div class="linear-element"></div>
        <div class="linear-element educacion"></div>
        <div class="linear-element"></div>
      </div>

      <div class="team-cards">
        <div class="card-item" data-aos="zoom-out">
          <div class="card-head">
            <img
              src="../../../assets/nosotros/teamwork/juan-carlos-garcia.jpg"
              alt=""
            />
            <h3>Juan Carlos García</h3>
            <p>Gerente de Impuestos</p>
          </div>
          <div class="desc">
            <p class="desc-p">
              Abogado por la PUCP, Gerente de Impuestos de Grupo Contable,
              expositor principal del I Congreso Tributario del Perú, la Cámara
              de Comercio de Lima, la Cámara de Comercio Americana del Perú,
              Colegios de Contadores de Lima. Ex miembro del Comité de redacción
              del Informativo Caballero Bustamante, Ex funcionario de la SUNAT.
            </p>
          </div>
        </div>

        <div class="card-item" data-aos="zoom-out">
          <div class="card-head">
            <img
              src="../../../assets/nosotros/teamwork/Clotilde Atahuaman.jpg"
              alt=""
            />
            <h3>Clotilde Atahuaman</h3>
            <p>Directora Área Laboral</p>
          </div>
          <div class="desc">
            <p>
              Abogado por la PUCP, Gerente de Impuestos de Grupo Contable,
              expositor principal del I Congreso Tributario del Perú, la Cámara
              de Comercio de Lima, la Cámara de Comercio Americana del Perú,
              Colegios de Contadores de Lima. Ex miembro del Comité de redacción
              del Informativo Caballero Bustamante, Ex funcionario de la SUNAT.
            </p>
          </div>
        </div>

        <div class="card-item" data-aos="zoom-out">
          <div class="card-head">
            <img
              src="../../../assets/nosotros/teamwork/walter-rodas.jpg"
              alt=""
            />
            <h3>Walter M. Rodas Sosa</h3>
            <p>Asociado</p>
          </div>
          <div class="desc">
            <p>
              CPC y Magister, especialista en Costos y Presupuestos, Certified
              Chartered Cost Controller by American of Financial Management.
              Diplomado IFRS por ESAN. Certificación internacional IFRS ACCA.
            </p>
          </div>
        </div>

        <div class="card-item" data-aos="zoom-out">
          <div class="card-head">
            <img
              src="../../../assets/nosotros/teamwork/luis-sanchez.jpg"
              alt=""
            />
            <h3>Luis Sanchez de la Puente</h3>
            <p>Asociado</p>
          </div>
          <div class="desc">
            <p>
              C.P.C.C., con Especialización en NIIF de la Universidad del
              Pacifico, Certificación en NIIF por ICAEW y Certificación en NIIF
              por ACCA. Contador Vitalicio de las Américas otorgado por la AIC
            </p>
          </div>
        </div>

        <div class="card-item" data-aos="zoom-out">
          <div class="card-head">
            <img
              src="../../../assets/nosotros/teamwork/alejandra-cano.jpg"
              alt=""
            />
            <h3>Alejandra Cano Mujica</h3>
            <p>Asociada</p>
          </div>
          <div class="desc">
            <p>
              Máster en Dirección de Recursos Humanos y Relaciones Laborales por
              la Universidad Camilo José Cela de Madrid – España.
            </p>
          </div>
        </div>

        <div class="card-item" data-aos="zoom-out">
          <div class="card-head">
            <img
              src="../../../assets/nosotros/teamwork/cesar-llanos.jpg"
              alt=""
            />
            <h3>César Llanos Zumba</h3>
            <p>Asociada</p>
          </div>
          <div class="desc">
            <p>
              Especialista en Implementación de Libros Electrónicos y tutor en
              talleres contables.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>