<div class="about-container">
    <div class="banner">
        <div class="title">
            <h1>Grupo Contable</h1>
            <h3>Especialistas en Contabilidad
            </h3>
            <p> Comprometidos con desarrollo del Profesional Contable, Tributario, Laboral y Gestión Pública.</p>
        </div>
    </div>
    <div class="about-info">
        <div class="historia">
            <div class="info-title">
                <h3 data-aos="fade-up" data-aos-duration="1500">Historia</h3>
                <div class="linear" data-aos="fade-right" data-aos-duration="1500">
                    <div class="linear-element"></div>
                    <div class="linear-element center"></div>
                    <div class="linear-element"></div>
                </div>
                <p data-aos="fade-up" class="historia-p" data-aos-duration="1500">
                    Grupo Contable fue fundado el 12 octubre del 2012 con el objeto de proporcionar a nuestros clientes
                    una solución integral. Nuestro desafío es poder proveerle servicios profesionales comprometido y de
                    calidad.

                    Nuestro staff de profesionales ejercen la docencia en las más prestigiosas universidades del Perú y
                    del extranjero, son ex funcionarios de Sunat, escriben artículos en la Revista Digital de Grupo
                    Contable, con todo ello y su acumulada experiencia permiten brindar a nuestros clientes la asesoría
                    que necesitan.

                    Como toda gran empresa nació con la visión de ofrecer un valor agregado y soluciones concretas y
                    específicas para cada negocio.

                    La base principal de los Profesionales de Grupo Contable es marcar la diferencia en las
                    organizaciones y dar un servicio de calidad, con enfoque global que trasciende las fronteras.

                    Esperamos seguir escribiendo nuestra propia historia, día a día, en esta línea ascendente en
                    variedad y calidad de servicios para nuestros clientes actuales y potenciales.
                </p>
            </div>
        </div>
        <div class="mision">
            <div class="info-title">
                <h3 data-aos="fade-up" data-aos-duration="1500">Misión</h3>
                <div class="linear" data-aos="fade-right" data-aos-duration="1500">
                    <div class="linear-element"></div>
                    <div class="linear-element center"></div>
                    <div class="linear-element"></div>
                </div>
                <p data-aos="fade-up" class="historia-p" data-aos-duration="1500">
                    Nuestra misión es ofrecer servicios de la más alta calidad en el Área Contable, Financiero,
                    Tributario, Laboral y Gubernamental, con la experiencia y profesionalismo en cada uno de sus actos,
                    brindando a nuestros Clientes eficiencia, eficacia y economía en respuesta a la confianza que nos
                    brindan
                </p>
            </div>
        </div>
        <div class="vision">
            <div class="info-title">
                <h3 data-aos="fade-up" data-aos-duration="1500">Visión</h3>
                <div class="linear" data-aos="fade-right" data-aos-duration="1500">
                    <div class="linear-element"></div>
                    <div class="linear-element center"></div>
                    <div class="linear-element"></div>
                </div>
                <p data-aos="fade-up" class="historia-p" data-aos-duration="1500">
                    Ser una empresa líder en consultoría y asesoría empresarial con presencia a nivel internacional
                    desarrollando estrategias de negocios que apoyen en todo momento su crecimiento.
                </p>
            </div>
        </div>


        <!-- CONFIA EN NOSOTROS -->
        <div class="confianza">
            <div class="confianza-title">
                <h1>¿Por qué confiar en nosotros?</h1>
            </div>
            <div class="cards">
                <div class="card">
                    <mat-icon>cached</mat-icon>
                    <h3>Compromiso y Responsabilidad</h3>
                    <p>Colaboramos con nuestros clientes de forma proactiva, profesional y transparente, ayudando a
                        crear confianza mutua que caracteriza a nuestra empresa.</p>
                </div>


                <div class="card">
                    <mat-icon>supervisor_account</mat-icon>
                    <h3>Trabajo en Equipo</h3>
                    <p>Apostamos por mejorar en cada asistencia y la ilusión de satisfacer a nuestros clientes, ayudando
                        a mejorar cada día el negocio de nuestros clientes y así obtener los mejores resultados.</p>
                </div>



                <div class="card">
                    <mat-icon>trending_up</mat-icon>
                    <h3>Experiencia</h3>
                    <p>Disponemos de un equipo de profesionales con larga experiencia en el sector laboral y tributario,
                        llevando a cabalidad todas las tareas de administración de personal, manejo de planillas de
                        diferentes regímenes laborales de la legislación Peruana y manejo de la contabilidad de Empresa.
                    </p>
                </div>

            </div>

        </div>


        <!-- NUESTRO EQUIPO-->
        <div class="title-cursos-container">
            <h3 class="team-title" data-aos="fade-up" data-aos-duration="1500">Nuestro Equipo</h3>

            <div class="linear" data-aos="fade-right" data-aos-duration="1500">
                <div class="linear-element"></div>
                <div class="linear-element educacion"></div>
                <div class="linear-element"></div>
            </div>

            <div class="team-cards">
                <div class="card-item">
                    <div class="card-head">
                        <img src="../../../assets/nosotros/teamwork/juan-carlos-garcia.jpg" alt="">
                        <h3>Juan Carlos García</h3>
                        <p>Gerente de Impuestos</p>
                    </div>
                    <div class="desc">
                        <p>Abogado por la PUCP, Gerente de Impuestos de Grupo Contable, expositor principal del I
                            Congreso Tributario del Perú, la Cámara de Comercio de Lima, la Cámara de Comercio Americana
                            del Perú, Colegios de Contadores de Lima. Ex miembro del Comité de redacción del Informativo
                            Caballero Bustamante, Ex funcionario de la SUNAT.</p>
                    </div>
                </div>

                <div class="card-item">
                    <div class="card-head">
                        <img src="../../../assets/nosotros/teamwork/Clotilde Atahuaman.jpg" alt="">
                        <h3>Clotilde Atahuaman</h3>
                        <p>Directora Área Laboral</p>
                    </div>
                    <div class="desc">
                        <p>Abogado por la PUCP, Gerente de Impuestos de Grupo Contable, expositor principal del I
                            Congreso Tributario del Perú, la Cámara de Comercio de Lima, la Cámara de Comercio Americana
                            del Perú, Colegios de Contadores de Lima. Ex miembro del Comité de redacción del Informativo
                            Caballero Bustamante, Ex funcionario de la SUNAT.</p>
                    </div>
                </div>

                <div class="card-item">
                    <div class="card-head">
                        <img src="../../../assets/nosotros/teamwork/walter-rodas.jpg" alt="">
                        <h3>Walter M. Rodas Sosa</h3>
                        <p>Asociado</p>
                    </div>
                    <div class="desc">
                        <p>CPC y Magister, especialista en Costos y Presupuestos, Certified Chartered Cost Controller by American of Financial Management. Diplomado IFRS por ESAN. Certificación internacional IFRS ACCA.</p>
                    </div>
                </div>

                <div class="card-item">
                    <div class="card-head">
                        <img src="../../../assets/nosotros/teamwork/luis-sanchez.jpg" alt="">
                        <h3>Luis Sanchez de la Puente</h3>
                        <p>Asociado</p>
                    </div>
                    <div class="desc">
                        <p>C.P.C.C., con Especialización en NIIF de la Universidad del Pacifico, Certificación en NIIF por ICAEW y Certificación en NIIF por ACCA. Contador Vitalicio de las Américas otorgado por la AIC</p>
                    </div>
                </div>

                <div class="card-item">
                    <div class="card-head">
                        <img src="../../../assets/nosotros/teamwork/alejandra-cano.jpg" alt="">
                        <h3>Alejandra Cano Mujica</h3>
                        <p>Asociada</p>
                    </div>
                    <div class="desc">
                        <p>Máster en Dirección de Recursos Humanos y Relaciones Laborales por la Universidad Camilo José Cela de Madrid – España.</p>
                    </div>
                </div>

                <div class="card-item">
                    <div class="card-head">
                        <img src="../../../assets/nosotros/teamwork/cesar-llanos.jpg" alt="">
                        <h3>César Llanos Zumba</h3>
                        <p>Asociada</p>
                    </div>
                    <div class="desc">
                        <p>Especialista en Implementación de Libros Electrónicos y tutor en talleres contables.</p>
                    </div>
                </div>
            </div>

        </div>

    </div>