*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.about-container{
    margin-top:63px;
    
  
}
.banner{
    background-image: url('../.././../assets/nosotros/law-firm-26.jpg');
    min-width:100%;
    height:400px;
    background-position:center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */

}

.title{
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:0 auto;
    text-align: center;
    color: rgb(231, 231, 231);
    padding-top:135px;
    text-shadow:  .5px .5px rgb(0, 0, 0);
   line-height:1;
   letter-spacing:2;
    
}
.title h1{
    font-size: 60px;
    font-weight: bold;
    padding-bottom:10px;
    font-family: 'Source Sans Pro', serif;
}



.title p{
    width:60%;
    margin:0 auto;

}

/*HISTORIA*/
.info-title {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  text-align: center;
}

.info-title h3 {
    font-size: 45px;
    color: var(--celeste);
    font-weight: bold;
    line-height: 1.1;
    margin-top:10px;

}

/*************/
.titulos{
    font-size: 40px;
    color: var(--celeste);
    font-weight: bold;
    line-height: 1.1;
    margin-top:10px;
  
  }
/******* educación ejecutiva *********/
.ejecutiva{
    width: 99.95%;
    height: 450px;
    margin:0;
    padding:0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top:100px;
    height: 450px;
    flex-wrap: wrap;
    z-index:2;
    
  
  }
  .ejecutiva .ejecutiva-desc{
    min-width: 180px;
    max-width:500px;
    margin-top:-50px;
  
  }
  
  .ejecutiva .ejecutiva-desc h3{
    font-size: 40px;
    color: var(--celeste);
    font-weight: bold;
    line-height: 1.1;
    margin-top:10px;
  
  }
  
  .ejecutiva .ejecutiva-desc p{
    font-size: 19px;
    color: #202E44;
    text-align: center;  
    text-align:left;
    width: 90%;
    line-height: 1.1;
    text-align: justify;
    margin-top:10px;
  
  }
  .ejecutiva .ejecutiva-img{
    min-width: 180px;
    max-width:600px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:-40px;
  }
  
  .ejecutiva .ejecutiva-img img{
    width: 80%;
    height:450px;
    object-fit: contain;
  }
  
  .btn-ejecutiva{
    height: 50px;
    width: 120px;
    background-color: var(--celeste);
    border:none;
    border-radius: 50px;
    color: #fff;
    margin-top:10px;
    font-weight: bold;  
  }
  
  .btn-ejecutiva:hover{
  background-color: rgb(11, 117, 138);; 
  }

  

/*****CARDS***********/

.confianza{
    display: flex;
    flex-direction: column;
    width: 90%;
    height:100%;
    margin: 0 auto;
    margin-top: 80px;
    text-align:center;
  
}
.confianza-title{
    margin-bottom:20px;
    margin-top:-0px;
}

.cards{
    display: flex;
    flex-direction:row;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
  
}
/* 
.card{
width: 28%;
height: 380px;
border: none;
box-shadow: -1px 0px 5px 2px rgba(194,194,194,0.67);
-webkit-box-shadow: -1px 0px 5px 2px rgba(194,194,194,0.67);
-moz-box-shadow: -1px 0px 5px 2px rgba(194,194,194,0.67);

}

.card mat-icon{
    text-align: center;
    margin: 0 auto;
    margin-top:40px;
    color: #1095AF;
    width:100%;
    height:60px;
    font-size: 50px;
    font-weight: 800;
}
.card h3{
    font-size: 18px;
   text-align: center;
    width: 100%;
    color: var(--negro);
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    line-height:1.5;
    letter-spacing:2;
    
}
.card p{
    width: 100%;
    font-size: 13.5px;
    color: var(--negro);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin: 10px 0 10px 0;
    line-height:1;
    letter-spacing:1;
    padding: 0px 40px;
    text-align: justify;
}
 */

/*CARDS HOVER**/


/** NUESTRO EQUIPO**/



.title-cursos-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    margin-top:120px;
  }
  
 
 

/** NUESTRO EQUIPO - CARDS***/
.team-cards{
    display: flex;
    flex-direction: row;
    width:90%;
    height:100%;
    justify-content: space-evenly;
    margin-top:60px;
    flex-wrap:wrap;
  }

  .team-cards .card-item{
    display: flex;
    flex-direction: row;
    width:425px;
    height:280px;
    color: rgb(49, 49, 49);
    background-color: rgba(255, 255, 255, 0.822);
    margin-right: 40px;
    border-radius: 8px;
    margin-bottom:25px;
  }
  .card-item .card-head{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px !important;
  }

.card-item .card-head h3{
    font-size: 18px;
    text-transform: none;
    padding: 3px 7px;
    text-align: center;
   
}

.card-item .card-head img{
    width: 95px;
    height: 95px;
    margin: 0 auto;
    border-radius: 50% 50%;
    
}

.card-item .card-head p{
    font-size: 14px;
    padding: 0px 7px;
    text-align: center;
    color: rgba(88, 88, 88, 0.856);

}

.desc {
    width:500px;
    border-left:1px solid rgba(88, 88, 88, 0.164);
}
.desc p{
    font-size: 12px;
    padding: 35px 20px;
    font-family: sans-serif;
    font-weight: normal;
    text-align: start;
}


/**HOVER TEAMWORK CARDS */

.card-item:hover .desc {
    background-color: rgba(235, 233, 233, 0.767);

    border-left:1px solid  #1095AF;
    border-radius: 0 8px 8px 0;
}
.card-item:hover .card-head {
    background-color: rgba(235, 233, 233, 0.767);
    border-radius: 8px 0 0 8px;
   
}



.cursos-container{
    background-color: var(--celeste);
width: 99.95%;
    margin:0;
    padding:0;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    padding-left:100px;
  padding-right:100px;
  height: 450px;
  flex-wrap: wrap;
  margin-top: -150px;
 
  }
  
  .cursos-container .ejecutiva-desc {
    margin-top:-100px;
    padding-left:30px;
    min-width: 180px;
    max-width:550px;

  }
  .cursos-container .ejecutiva-img{
    min-width: 180px;
    max-width:550px;
    z-index: 2;
  }
  
  .cursos-container .ejecutiva-desc h3{
    color: #fff;
  }
  .cursos-container .ejecutiva-desc p{
    color: #fff;
  }
  .cursos-container .ejecutiva-desc button{
    background-color: #fff;
    color: var(--celeste);
  }
  
  .cursos-container .ejecutiva-desc button:hover{
    background-color: rgb(211, 211, 211);
    font-weight: bold;
  
  }


  .cards mat-accordion, mat-expansion-panel{
    width: 250px;
    text-align: justify;
  }
  .cards mat-expansion-panel-header{
    width: 250;
    height: 120px;
  }
  mat-accordion mat-panel-title p  {
    color:var(--negro);
    font-weight: 500;
    font-size: 15px;


  }

  mat-accordion:hover mat-panel-title p  {
    color:var(--celeste);
    font-weight: bold;

  }

  mat-accordion:focus mat-panel-title p  {
    color:var(--celeste);
  }
  .icon-home{
    width: 40px;
    height:40px;
    background-color: rgb(16, 149, 175);
    color: #fff;
    border-radius: 50%;
    margin-right:10px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
  }
  .icon-home mat-icon{
    font-size: 25px;
    margin:0;
    padding:0;
  }