<div class="footer-container">
  <div class="footer-routes" data-aos="fade-up" data-aos-duration="900">
    <div class="services">
      <a href="" class="title services-title">Servicios</a>
      <a href="" class="services-ancla">Consultoría</a>
      <a href="" class="services-ancla">Outsourcing</a>
      <a href="" class="services-ancla">Capacitación In House</a>
      <a href="" class="services-ancla">Auditoría</a>
    </div>
    <div class="education">
      <a href="" class="title education-title">Educación Ejecutiva</a>
      <a href="" class="services-ancla">Cursos Contables</a>
      <a href="" class="services-ancla">Cursos Tributarios</a>
      <a href="" class="services-ancla">Cursos Laborales</a>
      <a href="" class="services-ancla">Cursos Gubernamentales</a>
    </div>
    <div class="eventos">
      <a href="" class="title education-title">Eventos Corporativos</a>
      <a href="" class="services-ancla">Congresos</a>
      <a href="" class="services-ancla">Simposios</a>
      <a href="" class="services-ancla">Conferencias</a>
      <a href="" class="services-ancla">Seminarios</a>
    </div>
    <!-- 
          <div class="posts">
        <a href="" class="title education-title">Publicaciones</a>
        <a href="" class="services-ancla">IRFS – NIIF</a>
        <a href="" class="services-ancla"></a>
        <a href="" class="services-ancla"></a>
        <a href="" class="services-ancla"></a>
      </div>
    -->
  </div>
  <div class="footer-social" data-aos="fade-up" data-aos-duration="900">
    <a href="#">
      <img src="../../../assets/imgs/logo/grupo-contable.png" alt="Grupo Contable" />
    </a>
    <div class="social-items" data-aos="fade-up" data-aos-duration="900">
      <a target="_blank" href="https://www.facebook.com/GrupoContablePe">
        <i class="fa-brands fa-facebook"></i>
      </a>
      <a  href="https://www.instagram.com/gcbschool/" target="_blank">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a target="_blank" href="https://twitter.com/GrupoContablePe">
        <i class="fa-brands fa-twitter"></i>
      </a>
      <a target="_blank" href="https://www.youtube.com/c/GrupoContablePe">
        <i class="fa-brands fa-youtube"></i>
      </a>
      <a target="_blank" href="https://www.linkedin.com/company/grupo-contable/">
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <a target="_blank"
        href="https://api.whatsapp.com/send?phone=51952919993&text=Deseo%20Informacion%20sobre%20los%20cursos">
        <i class="fa-brands fa-whatsapp"></i>
      </a>
    </div>
    <p data-aos="fade-up" data-aos-duration="900">
      © 2010 – 2022 Grupo Contable., sociedad anónima cerrada (“GC”), es una
      firma peruana de consultoría y GC Business School su escuela de educación
      ejecutiva. Todos los derechos reservados.
      <br>
      <br>
      Política de Privacidad – Información sobre cookies – Términos Legales

    </p>

  </div>
</div>