<div class="header-main-container" (scroll)="onscroll()" [ngClass]="navbarfixed?'fixed':'nofixed'">
  <div class="header-info">
    <div class="info-empty"></div>
    <div class="info info-adress">
      <mat-icon>room</mat-icon>
      <p>Miraflores 15074 Lima, Peru</p>
    </div>
    <div class="info-email info">
      <mat-icon>email</mat-icon>
      <p>informes@grupocontable.pe</p>
    </div>
    <div class="info-phone info">
      <mat-icon>phone</mat-icon>
      <p>952 919 993</p>
    </div>
    <div class="info-social info">
      <a href="" class="social-facebook">
        <i class="fa-brands fa-facebook-f"></i>
      </a>
      <a href="" class="social-twitter">
        <i class="fa-brands fa-twitter"></i>
      </a>
      <a href="" class="social-instagram">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a href="" class="social-linkedin">
        <i class="fa-brands fa-linkedin-in"></i>
      </a>
      <a href="" class="social-linkedin">
        <i class="fa-brands fa-youtube"></i>
      </a>
    </div>
    <div class="info info-empty"></div>
  </div>
  <div class="header-menu">
    <!-- -->
    <div class="logo">
      <img class="img-logo"src="../../../assets/imgs/logo/grupo-contable.png" >
      
  </div>
    <div class="items">
      <div class="dropdown">
        <button class="dropbtn">Inicio</button>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Nosotros</button>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Servicios</button>
        <div class="dropdown-content">
          <a href="#">Consultoria</a>
          <a href="#">Tax & Legal</a>
          <a href="#">Outsourcing</a>
          <a href="#">Capacitación In House </a>
          <a href="#">Auditoría</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Cursos</button>
        <div class="dropdown-content">
          <a href="#">Contables</a>
          <a href="#">Tributarios </a>
          <a href="#">Laborales</a>
          <a href="#">Gubernamentales</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">In Company</button>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Eventos</button>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Publicaciones</button>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Docentes</button>
      </div>

    </div>
    
    <div class="consulting">
      <button class="contacto">Contacto</button>
    </div>
</div>
