<div class="header-main-container" (scroll)="onscroll()" [ngClass]="navbarfixed?'fixed':'nofixed'">
  <div class="header-info">
    <div class="info-empty"></div>
    <a class="info info-adress" href="https://www.google.com/maps/dir/-12.0521204,-77.059156/-12.11821,-77.03472/@-12.1166272,-77.0414174,15.33z/data=!4m4!4m3!1m1!4e1!1m0" target="_blank">
      <mat-icon>room</mat-icon>
      <p>Miraflores 15074 Lima, Peru</p>
    </a>
    <a class="info-email info" href="mailto:engshka123@gmail.com" target="_blank">
      <mat-icon>email</mat-icon>
      <p>informes@grupocontable.pe</p>
    </a>
    <a class="info-phone info" href="tel:+51952919993">
      <mat-icon>phone</mat-icon>
      <p>952 919 993</p>
    </a>
    <div class="info-social info">
      <a href="https://www.facebook.com/GrupoContablePe" class="social-facebook"  target="_blank">
        <i class="fa-brands fa-facebook-f"></i>
      </a>
      <a href="https://twitter.com/GrupoContablePe" class="social-twitter" target="_blank">
        <i class="fa-brands fa-twitter"></i>
      </a>
      <a href="https://www.instagram.com/gcbschool/" class="social-instagram" target="_blank">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a href="https://www.linkedin.com/company/grupo-contable/" class="social-linkedin" target="_blank">
        <i class="fa-brands fa-linkedin-in"></i>
      </a>
      <a href="https://www.youtube.com/c/GrupoContablePe" class="social-linkedin" target="_blank">
        <i class="fa-brands fa-youtube"></i>
      </a>
    </div>
    <div class="info info-empty"></div>
  </div>
  <div class="header-menu">
    <!-- -->
    <div class="logo">
      <img class="img-logo"src="../../../assets/imgs/logo/grupo-contable.png" >
      
  </div>
    <div class="items">
      <div class="dropdown">
        <a class="dropbtn"  routerLink="" routerLinkActive="router-link-active" >Inicio</a>
      </div>
      <div class="dropdown">
        <a class="dropbtn" routerLink="/nosotros" >Nosotros</a>
      </div>
      <div class="dropdown">
        <a class="dropbtn" routerLink="/servicios">Servicios</a>
        <div class="dropdown-content">
          <a routerLink="/servicios">Consultoria</a>
          <a routerLink="/servicios">Tax & Legal</a>
          <a routerLink="/servicios">Outsourcing</a>
          <a routerLink="/servicios">Capacitación In House </a>
          <a routerLink="/servicios">Auditoría</a>
        </div>
      </div>
      <div class="dropdown">
        <a class="dropbtn" routerLink="/cursos">Cursos</a>
        <div class="dropdown-content">
          <a routerLink="/cursos">Contables</a>
          <a routerLink="/cursos">Tributarios </a>
          <a routerLink="/cursos">Laborales</a>
          <a routerLink="/cursos">Gubernamentales</a>
        </div>
      </div>
      <div class="dropdown">
        <a class="dropbtn" routerLink="/incompany">InCompany</a>
      </div>
      <div class="dropdown">
        <a class="dropbtn">Eventos</a>
      </div>
      <div class="dropdown">
        <a class="dropbtn">Publicaciones</a>
      </div>
      <div class="dropdown">
        <a class="dropbtn">Docentes</a>
      </div>

    </div>
    
    <div class="consulting">
      <a  href="https://api.whatsapp.com/send?phone=51952919993&text=Deseo%20Informacion%20sobre%20los%20cursos" class="contacto">Contacto</a>
    </div>
</div>
