::ng-deep :root {
  --blanco: #fff;
  --celeste:rgb(14,146,172);
  --azul-material:rgb(27,64,118);
  --blanco-rgba:rgb(255,255,255,0.3);
  --negro:rgb(32, 32, 32);

}
.header-main-container{
position: fixed;
z-index: 100;
min-height: 10%;
}
.header-info,
.info {
  display: flex;
  height: 54px;
  flex-direction: row;
  justify-content: center;
  background: #5a5a5a;
  align-items: center;
  align-self: center;
  align-content: center;
  background-color: var(--negro);
  color:var(--blanco);
  font-weight: 500;
}
.header-main-container {
  width: 100%;
}
.header-info {
  width: 100%;
}

.info {
  text-align: center;
  border-left: 0.1px solid rgba(139, 139, 139, 0.5)
}
/*********** SIZE OF HEADER ITEMS ***/

.info-empty {
  width: 15%;
}
.info-adress {
  width: 25%;
}
.info-email {
  width: 20%;
}

.info-phone {
  width: 15%;
}
.info-social {
  width: 15%;
}
.info-social i{
    margin-left:4px;
    margin-right: 4px;
  }

.info p,
i,
mat-icon {
  margin: 3px;
  padding: 0 5px 0 5px;
  color: var(--blanco);
}
.info p {
  font-size: 14px;
}
.info i {
  font-size: 15px;
}
.info mat-icon {
  padding-top:2px;
  font-size: 18px;
}

.header-menu{
  width: 100%;
  height: 65px;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
  margin: 0 auto;
  background-color: var(--blanco);
  border-bottom: 1px solid rgba(255, 255, 255, 0.445);
  
}
.items{
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
}

.logo{
  width:110px;
  height:55px;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  margin-top:-7px;
}
.logo .img-logo{
  margin-top: 5px;
  width:100%;
  height:100%;
  object-fit: contain;
  cursor: pointer;
}
/******************* menu list******************************/

.dropbtn {
  background-color: var(--blanco);
  color: var(--negro);
  padding: 16px;
  font-size: 16px;
  border: none;
  height: 100%;
  font-weight: 500;
  list-style: none;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}


.dropdown {
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-decoration: none;
}

.dropdown-content a {
  color: var(--celeste);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: rgb(221, 221, 221);
color: var(--celeste);}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: var(--celeste);
color: var(--blanco);}
.consulting {
  display: flex;
  flex-direction: column;
}
 .consulting {
  background-color: var(--celeste);
  height: 40px;
  width: 90px;

  font-size: 15px;
  border: none;
  border-radius: 5px;
  
  font-weight: 500;
  text-align: center;

}
.contacto {
  top:5px;
  text-decoration: none;
  list-style: none;
  cursor:pointer;
  color: var(--blanco );
  padding-top:7px;
}