<div class="header-main-container">
  <div class="header-info">
    <div class="info-empty "></div>
    <div class="info info-adress ">
      <mat-icon>room</mat-icon>
      <p>Calle Elías Aguirre N° 180, Miraflores 15074 Lima, Peru</p>
    </div>
    <div class="info-email info">
      <mat-icon>email</mat-icon>
      <p>informes@grupocontable.pe</p>
    </div>
    <div class="info-phone info">
      <mat-icon>phone</mat-icon>
      <p>952 919 993</p>
    </div>
    <div class="info-social info">
      <a href="" class="social-facebook">
        <i class="fa-brands fa-facebook-f"></i>
      </a>
      <a href="" class="social-twitter">
        <i class="fa-brands fa-twitter"></i>
      </a>
      <a href="" class="social-instagram">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a href="" class="social-linkedin">
        <i class="fa-brands fa-linkedin-in"></i>
      </a>
      <a href="" class="social-linkedin">
        <i class="fa-brands fa-youtube"></i>
      </a>
    </div>
    <div class="info info-empty"></div>
  </div>
  <div class="header-menu"></div>
</div>
