<div class="services-container">
    <div class="banner">
        <h1>Nuestros Servicios</h1>
        <p>
            Ofrecemos servicios de la más alta calidad en el Área Contable Financiero, Tributario, Laboral y
            Gubernamental, con la experiencia y profesionalismo en cada uno de sus actos, brindando a nuestros Clientes
            eficiencia, eficacia y economía en respuesta a la confianza que nos brindan.
        </p>
    </div>
    <!-- LO QUE HACEMOS-->
    <div class="wedo">
        <div class="info-title">
            <h3 data-aos="fade-up" data-aos-duration="1500">Lo que hacemos</h3>
            <div class="linear" data-aos="fade-right" data-aos-duration="1500">
                <div class="linear-element"></div>
                <div class="linear-element center"></div>
                <div class="linear-element"></div>
            </div>
            <p data-aos="fade-up" class="historia-p" data-aos-duration="1500">
                “Optimiza tu modelo de negocio, mejora la experiencia de tus clientes y empleados y aumenta tu
                productividad”
            </p>
        </div>
        <!-- LO QUE HACEMOS ITEMS - CARDS -->
        <div class="cards">
            <div class="card" data-aos="zoom-in" data-aos-duration="1200">
                <img src="../../../assets/servicios/consultoria-icon.png" alt="Consultoría">
                <h3>Consultoría</h3>
                <p>Consultoría, asesoría y capacitación en la adopción e implementación de las Normas Internacionales de
                    Información Financiera – NIIF y NIIF para Pymes.</p>
            </div>


            <div class="card" data-aos="zoom-in" data-aos-duration="1200">
                <img src="../../../assets/servicios/taxt and legal-icon.png" alt="Tax & Legal">
                <h3>Tax & Legal</h3>
                <p>Asesoría efectivo y altamente especializado, para la gestión de los impuestos, a nivel nacional e
                    internacional.</p>
            </div>



            <div class="card" data-aos="zoom-in" data-aos-duration="1200">
                <img src="../../../assets/servicios/outsourcing-icon.png" alt="Outsourcing">
                <h3>Outsourcing</h3>
                <p>Brindamos cuatro tipo de servicios de outsourcing, que permite a las empresas centrarse en las metas
                    de sus negocios.
                </p>
            </div>

            <div class="card" data-aos="zoom-in" data-aos-duration="1200">
                <img src="../../../assets/servicios/auditoria-icon.png" alt="Auditoría">
                <h3>Auditoría</h3>
                <p>Proveemos servicios de auditoría de estados financieros, trabajos de revisión y otros, basado en
                    confiabilidad en la información financiera necesaria para tomar decisiones apropiadas y oportunas
                    sobre sus negocios.
                </p>
            </div>
            <div class="card" data-aos="zoom-in" data-aos-duration="1200">
                <img src="../../../assets/servicios/in-house-icon.png" alt="Capacitación In House">
                <h3>Capacitación In House</h3>
                <p>Brindamos capacitación In Company a nuestros asociados y demás empresas privadas y públicas del país,
                    adaptando a las necesidades puntuales de sus requirimientos.
                </p>
            </div>
            <div class="card" data-aos="zoom-in" data-aos-duration="1200" >
                <img src="../../../assets/servicios/eventos-icon.png" alt="Eventos Corporativos">
                <h3>Eventos Corporativos</h3>
                <p>Organizamos eventos que convoca a expertos de las principales firmas de estudios de abogados y de
                    auditoría internacional con el objetivo de profundizar temas controversiales afines a nuestra
                    especialidad.
                </p>
            </div>
         
        </div>
           <!-- PUNTOS FUERTES-->
           <div class="info-title">
            <h3 data-aos="fade-up" data-aos-duration="1500">Nuestros puntos fuertes</h3>
            <div class="linear" data-aos="fade-right" data-aos-duration="1500">
                <div class="linear-element"></div>
                <div class="linear-element center"></div>
                <div class="linear-element"></div>
            </div>
            <p data-aos="fade-up" class="historia-p" data-aos-duration="1500">
                Ofrecemos servicios de la más alta calidad en el Área Contable, Financiero, Tributario, Laboral y Gubernamental, con la experiencia y profesionalismo en cada uno de sus actos, brindando a nuestros Clientes eficiencia, eficacia y economía en respuesta a la confianza que nos brindan.
            </p>
        </div>
        <div class="puntosfuertes">
            <div class="img">
                
            </div>
            <div class="descripcion">
                <div class="container">
                    <p>Tax & Legal </p>
                    <div class="item-1">
                        <div class="child-1"></div>
                    </div>
                </div>
                <div class="container">
                    <p>Consultoría en NIIF </p>
                    <div class="item-1">
                        <div class="child-2"></div>
                    </div>
                </div>
                <div class="container">
                    <p>Outsourcing </p>
                    <div class="item-1">
                        <div class="child-3"></div>
                    </div>
                </div>
                <div class="container">
                    <p>Eventos Corpotativos </p>
                    <div class="item-1">
                        <div class="child-4"></div>
                    </div>
                </div>
                <div class="container">
                    <p>Capacitación In House </p>
                    <div class="item-1">
                        <div class="child-5"></div>
                    </div>
                </div>
                <div class="container">
                    <p>Auditoría </p>
                    <div class="item-1">
                        <div class="child-6"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>