<div class="services-container">
  <section class="banner">
    <h1>Nuestros Servicios</h1>
    <p>
      Ofrecemos servicios de la más alta calidad en el Área Contable Financiero,
      Tributario, Laboral y Gubernamental, con la experiencia y profesionalismo
      en cada uno de sus actos, brindando a nuestros Clientes eficiencia,
      eficacia y economía en respuesta a la confianza que nos brindan.
    </p>
  </section>

  <!-- LO QUE HACEMOS-->
  <section class="wedo">
    <div class="ejecutiva">
      <div class="ejecutiva-desc">
        <h3 data-aos="fade-up" data-aos-duration="800">Lo que hacemos</h3>
        <p data-aos="fade-up" data-aos-duration="1000">
          “Optimiza tu modelo de negocio, mejora la experiencia de tus clientes
          y empleados y aumenta tu productividad”
        </p>
      </div>
      <div class="ejecutiva-img">
        <img
          data-aos="fade-zoom-in"
          data-aos-duration="1500"
          src="../../../assets/home/home3.png"
          alt=""
        />
      </div>
    </div>

    <!-- LO QUE HACEMOS ITEMS - CARDS -->
    <section class="cards">
      <div class="card" data-aos="zoom-in" data-aos-duration="1200">
        <img
          src="../../../assets/servicios/consultoria-icon.png"
          alt="Consultoría"
        />
        <h3>Consultoría</h3>
        <p>
          Consultoría, asesoría y capacitación en la adopción e implementación
          de las Normas Internacionales de Información Financiera – NIIF y NIIF
          para Pymes.
        </p>
      </div>

      <div class="card" data-aos="zoom-in" data-aos-duration="1200">
        <img
          src="../../../assets/servicios/taxt and legal-icon.png"
          alt="Tax & Legal"
        />
        <h3>Tax & Legal</h3>
        <p>
          Asesoría efectivo y altamente especializado, para la gestión de los
          impuestos, a nivel nacional e internacional.
        </p>
      </div>

      <div class="card" data-aos="zoom-in" data-aos-duration="1200">
        <img
          src="../../../assets/servicios/outsourcing-icon.png"
          alt="Outsourcing"
        />
        <h3>Outsourcing</h3>
        <p>
          Brindamos cuatro tipo de servicios de outsourcing, que permite a las
          empresas centrarse en las metas de sus negocios.
        </p>
      </div>

      <div class="card" data-aos="zoom-in" data-aos-duration="1200">
        <img
          src="../../../assets/servicios/auditoria-icon.png"
          alt="Auditoría"
        />
        <h3>Auditoría</h3>
        <p>
          Proveemos servicios de auditoría de estados financieros, trabajos de
          revisión y otros, basado en confiabilidad en la información financiera
          necesaria para tomar decisiones apropiadas y oportunas sobre sus
          negocios.
        </p>
      </div>
      <div class="card" data-aos="zoom-in" data-aos-duration="1200">
        <img
          src="../../../assets/servicios/in-house-icon.png"
          alt="Capacitación In House"
        />
        <h3>Capacitación In House</h3>
        <p>
          Brindamos capacitación In Company a nuestros asociados y demás
          empresas privadas y públicas del país, adaptando a las necesidades
          puntuales de sus requirimientos.
        </p>
      </div>
      <div class="card" data-aos="zoom-in" data-aos-duration="1200">
        <img
          src="../../../assets/servicios/eventos-icon.png"
          alt="Eventos Corporativos"
        />
        <h3>Eventos Corporativos</h3>
        <p>
          Organizamos eventos que convoca a expertos de las principales firmas
          de estudios de abogados y de auditoría internacional con el objetivo
          de profundizar temas controversiales afines a nuestra especialidad.
        </p>
      </div>
    </section>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path
          fill="#0099ff"
          fill-opacity="0.99"
          d="M0,256L30,234.7C60,213,120,171,180,149.3C240,128,300,128,360,112C420,96,480,64,540,80C600,96,660,160,720,170.7C780,181,840,139,900,128C960,117,1020,139,1080,128C1140,117,1200,75,1260,58.7C1320,43,1380,53,1410,58.7L1440,64L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z"
          style="stroke: none; fill: rgb(16, 149, 175)"
        ></path>
      </svg>
      <div class="cursos-container ejecutiva">
        <div class="ejecutiva-img">
          <img
            data-aos="fade-zoom-in"
            data-aos-duration="1500"
            src="../../../assets/home/home3.png"
            alt=""
          />
        </div>
        <div class="ejecutiva-desc">
          <h3 data-aos="fade-up" data-aos-duration="800">Nuestros puntos fuertes</h3>
          <p data-aos="fade-up" data-aos-duration="1000">
            Ofrecemos servicios de la más alta calidad en el Área Contable,
            Financiero, Tributario, Laboral y Gubernamental, con la experiencia y
            profesionalismo en cada uno de sus actos, brindando a nuestros Clientes
            eficiencia, eficacia y economía en respuesta a la confianza que nos
            brindan.
          </p>
          <button class="btn-ejecutiva" data-aos="fade-up" data-aos-duration="1500">
            Conocer más
          </button>
        </div>
      </div>

      <div class="contacto-form ejecutiva">
        <div class="ejecutiva-desc">
          <h3 data-aos="fade-up" data-aos-duration="800">Contáctanos </h3>
          
          <div class="medios"></div>
          <div data-aos="fade-up" data-aos-duration="1000">
            <form action="">
              <mat-form-field class="example-full-width">
                <mat-label>Nombres</mat-label>
                <input matInput />
              </mat-form-field>
    
              <mat-form-field class="example-full-width">
                <mat-label>Apellidos</mat-label>
                <input matInput />
              </mat-form-field>
    
              <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Por ejemplo tunombre@gmail.com" />
              </mat-form-field>
    
              <mat-form-field class="example-full-width">
                <mat-label>Asunto</mat-label>
                <textarea
                  matInput
                  placeholder="Por ejemplo Asunto Cotización Curso Laboral"
                ></textarea>
              </mat-form-field>
            </form>
            <button class="btn-ejecutiva" data-aos="fade-up" data-aos-duration="1500">
              Enviar
            </button>
            
          </div>
      
        </div>
        <div class="ejecutiva-img">
          <img
            data-aos="fade-zoom-in"
            data-aos-duration="1500"
            src="../../../assets/home/home2.png"
            alt=""
          />
        </div>
      </div>

  </section>
</div>
<app-footer></app-footer>
