.incompany-container{
  display:flex;
  flex-direction: column;
  width:100%;
  min-height:100vh;
}
/*********     CAROUSEL - IN COMPANY     **************/
ngb-carousel{
  display: flex;
  flex-direction: row;
  width:100%;
  min-height: 450px;
  cursor: pointer;
  margin-top:63px;
}

.img-wrapper{
  width:100%;
  height: 450px;
}
.img-wrapper img{
    width:100%;
   height:100%;
    object-fit:fill; 

  }

/************/  
.info-title {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  text-align: center;
}

.info-title h3 {
  font-size: 35px;
  color: var(--negro);
  font-family: "Playfair Display" ,"Rubik", sans-serif;
  font-weight: 600;
  letter-spacing: 4px;
  line-height:2;

}
.info-title p {
  font-size: 16px;
  color: #5e5e5e;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 10px 0 10px 0;
  line-height:1.5;
  letter-spacing:2;
  text-align: justify;
}

.linear {
  display: flex;
  flex-direction: row;
  width: 20%;
  height: 30px;
  justify-content: center;
  align-items: center;
}

.linear .linear-element {
  width: 20%;
  height: 2px;
  background: var(--negro);
}
.linear .educacion {
  width: 20%;
  height: 5px;
  background: var(--blanco);
}
.linear .center {
  width: 34%;
  height: 5px;
  background: var(--celeste);
}


  /** CORP SERVICES *********/
  .corp-service{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top:35px;
    
  }

  .item{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    margin: 0 auto;
 
  }
  .item div{
    box-shadow: 2px 1px 5px 1px rgba(0,0,0,0.28);
    -webkit-box-shadow: 2px 1px 5px 1px rgba(0,0,0,0.28);
    -moz-box-shadow: 2px 1px 5px 1px rgba(0,0,0,0.28);
  }
.desc{
  width:550px;
  height:450px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items:center;
}

.desc h1{
  font-weight: bold;
  font-size: 25px;  
  letter-spacing: 1.5px;
  font-family: "Playfair Display" ,"Rubik", sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding: 0 30px 0 30px;

  
}
.desc p{
  font-size: 15px;
  padding: 0 30px 0 30px;
  text-align: justify;
  font-family: "Rubik", sans-serif;
  color: rgb(102, 102, 102);

}
 .corp-service .img{
    width:550px;
    height:450px;
    background-image: url("../../../assets/incompany/capacitacion-corporativa.jpeg");
    object-fit:cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }


  .img{
    width:550px;
    height:450px;
    background-image: url("../../../assets/incompany/grupo-contable-scaled.jpeg");
    object-fit:cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  /****  CAPACITACIÓN EN TIEMPO REAL****/

  
.cards {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  flex-wrap: wrap !important;
  justify-content: space-evenly;
  margin-top: 55px;
  margin-bottom: 70px;

}

.card {
  width: 300px;
  height: 300px;
  border: none;
  box-shadow: -1px 0px 5px 2px rgba(194, 194, 194, 0.67);
  -webkit-box-shadow: -1px 0px 5px 2px rgba(194, 194, 194, 0.67);
  -moz-box-shadow: -1px 0px 5px 2px rgba(194, 194, 194, 0.67);
  margin-bottom:15px;

}

.card mat-icon {
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
  color: #1095AF;
  width: 100%;
  height: 60px;
  font-size: 50px;
  font-weight: 800;
}

.card h3 {
  font-size: 18px;
  text-align: center;
  width: 100%;
  color: var(--negro);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 2;

}

.card p {
  width: 100%;
  font-size: 13.5px;
  color: #5e5e5e;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 10px 0 10px 0;
  line-height: 1;
  padding: 0px 40px;
  text-align: center;
}

.card svg {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom:10px;
  color:#1095AF;

}

/*CARDS HOVER**/
.card:hover {
  background-color: #1095AF;
  width: 310px;
  height: 310px;
  transition: 0.30s ease-in-out;
}


.card:hover svg {
  color: #fff;
}

.card:hover p {
  color: #fff;
}

.card:hover h3 {
  color: #fff;
  font-size: 23px;
}


/****** TEMARIO DE CURSOS EN - IN COMPANY******/


.tipo-curso{
  width: 250px;
  height:60px;
  display: flex;
  background: #353535;
  text-align: center;
  border-radius: 8px;
  margin-left:50px;
   clip-path: polygon(91% 0, 100% 50%, 88% 100%, 0% 100%, 4% 53%, 0% 0%);
   margin-top:80px;
   cursor:pointer;
}
.tipo-curso a{
  width: 100%;
  height: 100%;
  font-size: 17px;
  font-family:"Rubik", sans-serif;
  text-decoration: none;
  color: #fff;
  margin-top: 10px;

}

.temario-contable{
  width: 95%;
  height: 100%;
  display:flex;
  flex-direction: row;
  margin:0 auto;
  flex-wrap:wrap;
  justify-content:center;
  align-items: flex-start;
  margin-top:40px;
  gap:3px;
}

.temario-contable div{
  width: 320px;
  height: 100px;
  box-shadow: 2px 1px 5px 1px rgba(0,0,0,0.28);
  -webkit-box-shadow: 2px 1px 5px 1px rgba(0,0,0,0.28);
  -moz-box-shadow: 2px 1px 5px 1px rgba(0,0,0,0.28);
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
  background: #373B44;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  

}
.temario-contable div p{
  color: rgb(204, 204, 204);
  text-align: center;
  padding:0 10px 0 10px;
  font-size: 14px;
  font-weight: bold;
}

.temario-contable div:hover{
  background: #2193b0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  
}


.temario-contable div:hover P{
   color: rgb(59, 59, 59);

}