<div class="incompany-container">
    <ngb-carousel>
        <ng-template *ngFor="let imgs of imgsCarouselCompany" ngbSlide>
            <div class="img-wrapper">
                <img src="{{imgs.img}}" alt="">
            </div>
        </ng-template>
    </ngb-carousel>
    
    
    <div class="info-title">
        <h3 data-aos="fade-up" data-aos-duration="1500">SOLICITA COTIZACIÓN</h3>
        <div class="linear" data-aos="fade-right" data-aos-duration="1500">
            <div class="linear-element"></div>
            <div class="linear-element center"></div>
            <div class="linear-element"></div>
        </div>
    
    </div>
    <div class="corp-service">
       <div class="item" >
        <div class="desc" data-aos="fade-up"
        data-aos-anchor-placement="center-bottom"
        data-aos-duration="1000" >
            <h1>Servicio de capacitación In House</h1>
            <p>El Centro de Capacitación de Grupo Contable y GC Business School tiene como finalidad ser el referente de la
                capacitación en todos los sectores empresariales que responda a las necesidades de nuestras empresas
                asociadas y del sector. En el Centro de Capacitación diseñamos y ejecutamos programas académicos, de acuerdo
                a la demanda del mercado cubriendo las necesidades de capacitación de las personas que desean especializar,
                actualizar y reforzar sus conocimientos y habilidades.
                <br>
                Contamos con programas académicas especializados en las diversas áreas de una organización: contable,
                tributario, laboral y jurídico. Organizamos congresos, workshops y conferencias de temas de vanguardia y
                coyunturales.
            </p>
        </div>
    
        <div class="img" data-aos="fade-up"
        data-aos-anchor-placement="center-bottom"
        data-aos-duration="1000">

        </div>
       </div>
    </div>
    
    <div class="item">
        
        <div class="img" data-aos="fade-up"
        data-aos-anchor-placement="center-bottom"
        data-aos-duration="1000">
            
        </div>
        <div class="desc" data-aos="fade-up"
        data-aos-anchor-placement="center-bottom"
        data-aos-duration="1000">
            <h1>Servicio de capacitación In Company</h1>
            <p>El Centro de Capacitación de Grupo Contable y GC Business School tiene como finalidad ser el referente de la
                capacitación en todos los sectores empresariales que responda a las necesidades de nuestras empresas
                asociadas y del sector. En el Centro de Capacitación diseñamos y ejecutamos programas académicos, de acuerdo
                a la demanda del mercado cubriendo las necesidades de capacitación de las personas que desean especializar,
                actualizar y reforzar sus conocimientos y habilidades.
                <br>
                Contamos con programas académicas especializados en las diversas áreas de una organización: contable,
                tributario, laboral y jurídico. Organizamos congresos, workshops y conferencias de temas de vanguardia y
                coyunturales.
            </p>
        </div>

       </div>

       <div class="info-title">
        <h3 data-aos="fade-up" data-aos-duration="1500">Capacitación tiempo real</h3>
        <div class="linear" data-aos="fade-right" data-aos-duration="1500">
            <div class="linear-element"></div>
            <div class="linear-element center"></div>
            <div class="linear-element"></div>
        </div>
    
    </div>
</div>