<div class="main-container">
  <app-slider></app-slider>
  <div class="info-title" data-aos="fade-up" data-aos-duration="2500">
    <h3>Servicios</h3>
    <div class="linear">
      <div class="linear-element"></div>
      <div class="linear-element center"></div>
      <div class="linear-element"></div>
    </div>
    <p>Parte de lo que brindamos en nuestra empresa</p>
  </div>
  <div class="info-cards-container">
    <div class="card" data-aos="fade-up" data-aos-duration="1500">
      <div class="img-container">
        <img src="../../../assets/home/cards/card4.png" alt="" />
      </div>
      <div class="card-info">
        <h4>CONGRESOS</h4>
        <p>
          Eventos que convoca a expertos de las principales firmas de estudios
          de abogados y de auditoría internacional con el objetivo de
          profundizar temas controversiales afines a nuestra especialidad.
        </p>
      </div>
    </div>
    <div class="card" data-aos="fade-up" data-aos-duration="2000">
      <div class="img-container">
        <img src="../../../assets/home/cards/card5.png" alt="" />
      </div>
      <div class="card-info">
        <h4>SIMPOSIOS</h4>
        <p>
          Pioneros en agonizar eventos trascendentales en el Perú, Colombia y
          México, que convoca a prestigiosos profesionales que asesoran a
          compañías transnacionales.
        </p>
      </div>
    </div>
    <div class="card" data-aos="fade-up" data-aos-duration="2500">
      <div class="img-container">
        <img src="../../../assets/home/cards/card6.png" alt="" />
      </div>
      <div class="card-info">
        <h4>CURSOS-TALLERES</h4>
        <p>
          Cursos y talleres de calidad en todos los campos de estudio Contable,
          Tributario, laboral, Gestión Administrativa y Gestión Pública a cargo
          de los mejores docentes del Perú y extranjero.
        </p>
      </div>
    </div>
    <div class="card" data-aos="fade-up" data-aos-duration="3000">
      <div class="img-container">
        <img src="../../../assets/home/cards/card7.png" alt="" />
      </div>
      <div class="card-info">
        <h4>IN COMPANY</h4>
        <p>
          Capacitación In Company para nuestros asociados y demás empresas
          privadas y públicas del país, adaptando a las necesidades puntuales de
          sus requirimientos.
        </p>
      </div>
    </div>
  </div>

  <!-- CURSOS Y MAS-->
  <div class="cursos-mas-container">
    <div class="title-cursos-container">
      <h3 data-aos="fade-up" data-aos-duration="1500">Educación ejecutiva en tiempo real</h3>
      <div class="linear" data-aos="fade-right" data-aos-duration="1500">
        <div class="linear-element"></div>
        <div class="linear-element educacion"></div>
        <div class="linear-element"></div>
      </div>
      <p data-aos="fade-up" data-aos-duration="1500">
        Estudia con los especialistas en contabilidad, derecho tributario,
        derecho laboral, gestión administrativa, recursos humanos, gestión
        pública y más.
      </p>
      <input type="button" value="CONTÁCTANOS" data-aos="fade-up" data-aos-duration="1500" />
    </div>

    <div class="info-title">
      <h3 data-aos="fade-up" data-aos-duration="1500">Cursos</h3>
      <div class="linear" data-aos="fade-right" data-aos-duration="1500">
        <div class="linear-element"></div>
        <div class="linear-element center"></div>
        <div class="linear-element"></div>
      </div>
      <p data-aos="fade-up" data-aos-duration="1500">
        “Estudia con los especialistas en Contabilidad, NIIF, Derecho
        Tributario, Derecho Laboral y Gestión Pública”
      </p>
    </div>
    <div class="cursos-info-container">
      <div class="cursos-home-container">
        <div class="container-child">
          <div class="curso-home" data-aos="fade-right" data-aos-duration="3000">
            <div class="icon-container">
              <mat-icon>calendar_today</mat-icon>
            </div>
            <h4>Contables</h4>
          </div>
          <div class="curso-home" data-aos="fade-right" data-aos-duration="3000">
            <div class="icon-container">
              <mat-icon>picture_in_picture</mat-icon>
            </div>
            <h4>Diplomaturas</h4>
          </div>
          <div class="curso-home" data-aos="fade-right" data-aos-duration="3000">
            <div class="icon-container">
              <mat-icon>account_balance</mat-icon>
            </div>
            <h4>Tributarios</h4>
          </div>
          <div class="curso-home" data-aos="fade-right" data-aos-duration="3000">
            <div class="icon-container">
              <mat-icon>work</mat-icon>
            </div>
            <h4>Laborales</h4>
          </div>
          <div class="curso-home" data-aos="fade-right" data-aos-duration="3000">
            <div class="icon-container">
              <mat-icon>folder_special</mat-icon>
            </div>
            <h4>Especialización</h4>
          </div>
          <div class="curso-home" data-aos="fade-right" data-aos-duration="3000">
            <div class="icon-container">
              <mat-icon>file_copy</mat-icon>
            </div>
            <h4>Programas</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="eventos-home">
    <div class="info-title" data-aos="fade-up" data-aos-duration="2000">
      <h3>Nuestros Eventos</h3>
      <div class="linear" data-aos="fade-right" data-aos-duration="2000">
        <div class="linear-element"></div>
        <div class="linear-element center"></div>
        <div class="linear-element"></div>
      </div>
      <p data-aos="fade-up" data-aos-duration="1500">“Enterate de todos los eventos que realizamos ¡YA!”</p>
    </div>
    <div class="imgs-eventos">
      <div class="img-element-container" data-aos="fade-up" data-aos-anchor-placement="center-bottom"
        data-aos-duration="800">
        <img src="../../../assets/home/cursos-y-mas/eventopucp.jpg" alt="" />
      </div>
      <div class="img-element-container" data-aos="fade-up" data-aos-anchor-placement="center-bottom"
        data-aos-duration="1000">
        <img src="../../../assets/home/cursos-y-mas/evento1.jpg" alt="" />
      </div>
      <div class="img-element-container" data-aos="fade-up" data-aos-anchor-placement="center-bottom"
        data-aos-duration="1500">
        <img src="../../../assets/home/cursos-y-mas/evento2.jpg" alt="" />
      </div>
      <div class="img-element-container" data-aos="fade-up" data-aos-anchor-placement="center-bottom"
        data-aos-duration="2000">
        <img src="../../../assets/home/cursos-y-mas/evento3.jpg" alt="" />
      </div>
      <div class="img-element-container" data-aos="fade-up" data-aos-anchor-placement="center-bottom"
        data-aos-duration="2500">
        <img src="../../../assets/home/cursos-y-mas/evento5.jpg" alt="" />
      </div>
      <div class="img-element-container" data-aos="fade-up" data-aos-anchor-placement="center-bottom"
        data-aos-duration="3000">
        <img src="../../../assets/home/cursos-y-mas/evento6.jpg" alt="" />
      </div>
    </div>
  </div>

  <!-- TESTIMONIALS -->
  <div class="testimonials-container">
    <div class="testimonial-item-container">
      <h3 data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-duration="1500">Testimonios</h3>
      <div class="linear" data-aos="fade-right" data-aos-anchor-placement="center-bottom" data-aos-duration="1500">
        <div class="linear-element"></div>
        <div class="linear-element educacion"></div>
        <div class="linear-element"></div>
      </div>
      <p class="title-description" data-aos="fade-up" data-aos-anchor-placement="center-bottom"
        data-aos-duration="1800">
        Algunas de las opiniones de nuestros clientes sobre los servicios que
        brindamos.
      </p>
      <ngb-carousel>
        <ng-template ngbSlide>
          <div class="template-container">

            <div class="testimonial-card">
              <div class="testimonial-social">
                <i class="fa-brands fa-facebook"></i>
              </div>
              <div class="testimonial-details">
                <div class="description">
                  «Estoy re-contenta. Muchas gracias a todos por ser tan generosos con todo el material y contribuir a
                  expandir mis conocimiento en Normas Internacionales de Información Financiera, y agradecida por tocar
                  temas interesantes que contribuyeron a mi carrera profesional«
                </div>
                <div class="photo">
                  <img src="../../../assets/home/testimonials/diana-rondan.jpg" alt="">
                </div>
                <div class="customer-name">
                  <h4>Diana Rondan</h4>
                  <p class="social-type">Comentario realizado a través de Facebook.</p>
                </div>
              </div>
            </div>

            <div class="testimonial-card">
              <div class="testimonial-social">
                <i class="fa-brands fa-instagram"></i>
              </div>
              <div class="testimonial-details">
                <div class="description">
                  «Les agradezco su compromiso con esta hermosa tarea que es educar, y por hacerlo con la seriedad y el
                  compromiso con que lo hacen. Estoy muy satisfecho con el curso y muy agradecido con todos y ustedes
                  por el permanente contacto y buen trato. Ya estoy inscrito para el siguiente curso.»
                </div>
                <div class="photo">
                  <img src="../../../assets/home/testimonials/Richard.jpeg" alt="">
                </div>
                <div class="customer-name">
                  <h4>Richard Bolton</h4>
                  <p class="social-type">Comentario realizado a través de Instagram.</p>
                </div>
              </div>
            </div>

            <div class="testimonial-card">
              <div class="testimonial-social">
                <i class="fa-brands fa-facebook"></i>
              </div>
              <div class="testimonial-details">
                <div class="description">
                  «Feliz y muy agradecida de este bello curso y de la oportunidad para seguir aprendiendo. Feliz también
                  de ser parte de esta gran red contadores que buscan mejorar la Educación y la calidad de vida de los
                  profesionales. Amo los temas NIIF, tributación y laboral».
                </div>
                <div class="photo">
                  <img src="../../../assets/home/testimonials/denisse.jpeg" alt="">
                </div>
                <div class="customer-name">
                  <h4>Diana Rondan</h4>
                  <p class="social-type">Comentario realizado a través de Facebook.</p>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="template-container">

            <div class="testimonial-card">
              <div class="testimonial-social">
                <i class="fa-brands fa-facebook"></i>
              </div>
              <div class="testimonial-details">
                <div class="description">
                  «Estoy re-contenta. Muchas gracias a todos por ser tan generosos con todo el material y contribuir a
                  expandir mis conocimiento en Normas Internacionales de Información Financiera, y agradecida por tocar
                  temas interesantes que contribuyeron a mi carrera profesional«
                </div>
                <div class="photo">
                  <img src="../../../assets/home/testimonials/diana-rondan.jpg" alt="">
                </div>
                <div class="customer-name">
                  <h4>Diana Rondan</h4>
                  <p class="social-type">Comentario realizado a través de Facebook.</p>
                </div>
              </div>
            </div>

            <div class="testimonial-card">
              <div class="testimonial-social">
                <i class="fa-brands fa-facebook"></i>
              </div>
              <div class="testimonial-details">
                <div class="description">
                  «Estoy re-contenta. Muchas gracias a todos por ser tan generosos con todo el material y contribuir a
                  expandir mis conocimiento en Normas Internacionales de Información Financiera, y agradecida por tocar
                  temas interesantes que contribuyeron a mi carrera profesional«
                </div>
                <div class="photo">
                  <img src="../../../assets/home/testimonials/diana-rondan.jpg" alt="">
                </div>
                <div class="customer-name">
                  <h4>Diana Rondan</h4>
                  <p class="social-type">Comentario realizado a través de Facebook.</p>
                </div>
              </div>
            </div>

            <div class="testimonial-card">
              <div class="testimonial-social">
                <i class="fa-brands fa-facebook"></i>
              </div>
              <div class="testimonial-details">
                <div class="description">
                  «Estoy re-contenta. Muchas gracias a todos por ser tan generosos con todo el material y contribuir a
                  expandir mis conocimiento en Normas Internacionales de Información Financiera, y agradecida por tocar
                  temas interesantes que contribuyeron a mi carrera profesional«
                </div>
                <div class="photo">
                  <img src="../../../assets/home/testimonials/diana-rondan.jpg" alt="">
                </div>
                <div class="customer-name">
                  <h4>Diana Rondan</h4>
                  <p class="social-type">Comentario realizado a través de Facebook.</p>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
</div>