<div class="main-container">
  <app-slider></app-slider>
  <div
    style="width: 80%; margin: 0 auto; text-align: center"
    class="titulos"
    data-aos="fade-up"
    data-aos-duration="2500"
  >
    <p
      class="titulos"
      style="font-size: 35px; margin-top: 10px; margin-bottom: 45px"
    >
      Parte de lo que brindamos en nuestra empresa
    </p>
  </div>

  <div class="card-brindamos">
    <mat-accordion data-aos="fade-up" data-aos-duration="2000">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="icon-home">
              <mat-icon> bubble_chart </mat-icon>
            </div>
            <p>Congreso</p>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Eventos que convoca a expertos de las principales firmas de estudios
          de abogados y de auditoría internacional con el objetivo de
          profundizar temas controversiales afines a nuestra especialidad.
        </p>
      </mat-expansion-panel>
    </mat-accordion>

    <!-- simposios -->
    <mat-accordion data-aos="fade-up" data-aos-duration="2000">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="icon-home">
              <mat-icon> filter_vintage </mat-icon>
            </div>
            <p>Simposios</p>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Pioneros en agonizar eventos trascendentales en el Perú, Colombia y
          México, que convoca a prestigiosos profesionales que asesoran a
          compañías transnacionales..
        </p>
      </mat-expansion-panel>
    </mat-accordion>

    <!-- cursos -->
    <mat-accordion data-aos="fade-up" data-aos-duration="2000">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="icon-home">
              <mat-icon> local_library </mat-icon>
            </div>
            <p>Cursos</p>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Cursos y talleres de calidad en todos los campos de estudio Contable,
          Tributario, laboral, Gestión Administrativa y Gestión Pública a cargo
          de los mejores docentes del Perú y extranjero.
        </p>
      </mat-expansion-panel>
    </mat-accordion>

    <!-- In company -->
    <mat-accordion data-aos="fade-up" data-aos-duration="2000">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="icon-home">
              <mat-icon> toys </mat-icon>
            </div>
            <p>In Company</p>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Capacitación In Company para nuestros asociados y demás empresas
          privadas y públicas del país, adaptando a las necesidades puntuales de
          sus requirimientos.
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <!-- CURSOS Y MAS-->

  <div class="ejecutiva">
    <div class="ejecutiva-desc">
      <h3 data-aos="fade-up" data-aos-duration="800">
        Educación Ejecutiva en tiempo real
      </h3>
      <p data-aos="fade-up" data-aos-duration="1000">
        Estudia con los especialistas en contabilidad, derecho tributario,
        derecho laboral, gestión administrativa, recursos humanos, gestión
        pública y más.
      </p>
      <button class="btn-ejecutiva" data-aos="fade-up" data-aos-duration="1500">
        Conocer más
      </button>
    </div>
    <div class="ejecutiva-img">
      <img
        data-aos="fade-zoom-in"
        data-aos-duration="1500"
        src="../../../assets/home/home3.png"
        alt=""
      />
    </div>
  </div>

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path
      fill="#0099ff"
      fill-opacity="0.99"
      d="M0,256L30,234.7C60,213,120,171,180,149.3C240,128,300,128,360,112C420,96,480,64,540,80C600,96,660,160,720,170.7C780,181,840,139,900,128C960,117,1020,139,1080,128C1140,117,1200,75,1260,58.7C1320,43,1380,53,1410,58.7L1440,64L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z"
      style="stroke: none; fill: rgb(16, 149, 175)"
    ></path>
  </svg>
  <div class="cursos-container ejecutiva">
    <div class="ejecutiva-img">
      <img
        data-aos="fade-zoom-in"
        data-aos-duration="1500"
        src="../../../assets/home/home4.png"
        alt=""
      />
    </div>
    <div class="ejecutiva-desc">
      <h3 data-aos="fade-up" data-aos-duration="800">Cursos</h3>
      <p data-aos="fade-up" data-aos-duration="1000">
        “Estudia con los especialistas en Contabilidad, NIIF, Derecho
        Tributario, Derecho Laboral, Gestión Pública y mucho más.”
      </p>
      <button class="btn-ejecutiva" data-aos="fade-up" data-aos-duration="1500">
        Conocer más
      </button>
    </div>
  </div>

  <div class="card-tipo-curso">
    <mat-accordion data-aos="fade-up" data-aos-duration="2000">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="icon-home">
              <mat-icon> bubble_chart </mat-icon>
            </div>
            <p>Contables</p>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Eventos que convoca a expertos de las principales firmas de estudios
          de abogados y de auditoría internacional con el objetivo de
          profundizar temas controversiales afines a nuestra especialidad.
        </p>
      </mat-expansion-panel>
    </mat-accordion>

    <!-- simposios -->
    <mat-accordion data-aos="fade-up" data-aos-duration="2000">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="icon-home">
              <mat-icon> filter_vintage </mat-icon>
            </div>
            <p>Diplomaturas</p>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Pioneros en agonizar eventos trascendentales en el Perú, Colombia y
          México, que convoca a prestigiosos profesionales que asesoran a
          compañías transnacionales..
        </p>
      </mat-expansion-panel>
    </mat-accordion>

    <!-- cursos -->
    <mat-accordion data-aos="fade-up" data-aos-duration="2000">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="icon-home">
              <mat-icon> local_library </mat-icon>
            </div>
            <p>Tributarios</p>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Cursos y talleres de calidad en todos los campos de estudio Contable,
          Tributario, laboral, Gestión Administrativa y Gestión Pública a cargo
          de los mejores docentes del Perú y extranjero.
        </p>
      </mat-expansion-panel>
    </mat-accordion>

    <!-- Laborales -->
    <mat-accordion data-aos="fade-up" data-aos-duration="2000">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="icon-home">
              <mat-icon> toys </mat-icon>
            </div>
            <p>Laborales</p>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Capacitación In Company para nuestros asociados y demás empresas
          privadas y públicas del país, adaptando a las necesidades puntuales de
          sus requirimientos.
        </p>
      </mat-expansion-panel>
    </mat-accordion>

    <!-- Especialización -->
    <mat-accordion data-aos="fade-up" data-aos-duration="2000">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="icon-home">
              <mat-icon> toys </mat-icon>
            </div>
            <p>Especialización</p>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Capacitación In Company para nuestros asociados y demás empresas
          privadas y públicas del país, adaptando a las necesidades puntuales de
          sus requirimientos.
        </p>
      </mat-expansion-panel>
    </mat-accordion>

    <!-- In company -->
    <mat-accordion data-aos="fade-up" data-aos-duration="2000">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="icon-home">
              <mat-icon> toys </mat-icon>
            </div>
            <p>Programas</p>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Capacitación In Company para nuestros asociados y demás empresas
          privadas y públicas del país, adaptando a las necesidades puntuales de
          sus requirimientos.
        </p>
      </mat-expansion-panel>
    </mat-accordion>

    <!-- In company -->
    <mat-accordion data-aos="fade-up" data-aos-duration="2000">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="icon-home">
              <mat-icon> toys </mat-icon>
            </div>
            <p>Diplomaturas</p>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Capacitación In Company para nuestros asociados y demás empresas
          privadas y públicas del país, adaptando a las necesidades puntuales de
          sus requirimientos.
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="eventos-home">
    <div class="info-title" data-aos="fade-up" data-aos-duration="2000">
      <h3 class="titulos">Nuestros Eventos</h3>

      <p
        style="
          font-family: 'Source Sans Pro';
          font-size: 20px;
          margin-top: -10px;
        "
        data-aos="fade-up"
        data-aos-duration="1500"
      >
        “Entérate de todos los eventos que realizamos”
      </p>
    </div>
    <div class="imgs-eventos">
      <div
        class="img-element-container"
        data-aos="fade-up"
        data-aos-anchor-placement="center-bottom"
        data-aos-duration="800"
      >
        <img src="../../../assets/home/cursos-y-mas/eventopucp.jpg" alt="" />
      </div>
      <div
        class="img-element-container"
        data-aos="fade-up"
        data-aos-anchor-placement="center-bottom"
        data-aos-duration="1000"
      >
        <img src="../../../assets/home/cursos-y-mas/evento1.jpg" alt="" />
      </div>
      <div
        class="img-element-container"
        data-aos="fade-up"
        data-aos-anchor-placement="center-bottom"
        data-aos-duration="1500"
      >
        <img src="../../../assets/home/cursos-y-mas/evento2.jpg" alt="" />
      </div>
      <div
        class="img-element-container"
        data-aos="fade-up"
        data-aos-anchor-placement="center-bottom"
        data-aos-duration="2000"
      >
        <img src="../../../assets/home/cursos-y-mas/evento3.jpg" alt="" />
      </div>
      <div
        class="img-element-container"
        data-aos="fade-up"
        data-aos-anchor-placement="center-bottom"
        data-aos-duration="2500"
      >
        <img src="../../../assets/home/cursos-y-mas/evento5.jpg" alt="" />
      </div>
      <div
        class="img-element-container"
        data-aos="fade-up"
        data-aos-anchor-placement="center-bottom"
        data-aos-duration="3000"
      >
        <img src="../../../assets/home/cursos-y-mas/evento6.jpg" alt="" />
      </div>
    </div>
  </div>

  <!-- TESTIMONIALS -->
  <div class="testimonials-container">
    <div class="testimonial-item-container">
      <h3
        data-aos="fade-up"
        data-aos-anchor-placement="center-bottom"
        data-aos-duration="1500"
      >
        Testimonios
      </h3>
      <div
        class="linear"
        data-aos="fade-right"
        data-aos-anchor-placement="center-bottom"
        data-aos-duration="1500"
      >
        <div class="linear-element"></div>
        <div class="linear-element educacion"></div>
        <div class="linear-element"></div>
      </div>
      <p
        class="title-description"
        data-aos="fade-up"
        data-aos-anchor-placement="center-bottom"
        data-aos-duration="1800"
      >
        Algunas de las opiniones de nuestros clientes sobre los servicios que
        brindamos.
      </p>
      <ngb-carousel>
        <ng-template ngbSlide>
          <div class="template-container">
            <div class="testimonial-card">
              <div class="testimonial-social">
                <i class="fa-brands fa-facebook"></i>
              </div>
              <div class="testimonial-details">
                <div class="description">
                  «Estoy re-contenta. Muchas gracias a todos por ser tan
                  generosos con todo el material y contribuir a expandir mis
                  conocimiento en Normas Internacionales de Información
                  Financiera, y agradecida por tocar temas interesantes que
                  contribuyeron a mi carrera profesional«
                </div>
                <div class="photo">
                  <img
                    src="../../../assets/home/testimonials/diana-rondan.jpg"
                    alt=""
                  />
                </div>
                <div class="customer-name">
                  <h4>Diana Rondan</h4>
                  <p class="social-type">
                    Comentario realizado a través de Facebook.
                  </p>
                </div>
              </div>
            </div>

            <div class="testimonial-card">
              <div class="testimonial-social">
                <i class="fa-brands fa-instagram"></i>
              </div>
              <div class="testimonial-details">
                <div class="description">
                  «Les agradezco su compromiso con esta hermosa tarea que es
                  educar, y por hacerlo con la seriedad y el compromiso con que
                  lo hacen. Estoy muy satisfecho con el curso y muy agradecido
                  con todos y ustedes por el permanente contacto y buen trato.
                  Ya estoy inscrito para el siguiente curso.»
                </div>
                <div class="photo">
                  <img
                    src="../../../assets/home/testimonials/Richard.jpeg"
                    alt=""
                  />
                </div>
                <div class="customer-name">
                  <h4>Richard Bolton</h4>
                  <p class="social-type">
                    Comentario realizado a través de Instagram.
                  </p>
                </div>
              </div>
            </div>

            <div class="testimonial-card">
              <div class="testimonial-social">
                <i class="fa-brands fa-facebook"></i>
              </div>
              <div class="testimonial-details">
                <div class="description">
                  «Feliz y muy agradecida de este bello curso y de la
                  oportunidad para seguir aprendiendo. Feliz también de ser
                  parte de esta gran red contadores que buscan mejorar la
                  Educación y la calidad de vida de los profesionales. Amo los
                  temas NIIF, tributación y laboral».
                </div>
                <div class="photo">
                  <img
                    src="../../../assets/home/testimonials/denisse.jpeg"
                    alt=""
                  />
                </div>
                <div class="customer-name">
                  <h4>Diana Rondan</h4>
                  <p class="social-type">
                    Comentario realizado a través de Facebook.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="template-container">
            <div class="testimonial-card">
              <div class="testimonial-social">
                <i class="fa-brands fa-facebook"></i>
              </div>
              <div class="testimonial-details">
                <div class="description">
                  «Estoy re-contenta. Muchas gracias a todos por ser tan
                  generosos con todo el material y contribuir a expandir mis
                  conocimiento en Normas Internacionales de Información
                  Financiera, y agradecida por tocar temas interesantes que
                  contribuyeron a mi carrera profesional«
                </div>
                <div class="photo">
                  <img
                    src="../../../assets/home/testimonials/diana-rondan.jpg"
                    alt=""
                  />
                </div>
                <div class="customer-name">
                  <h4>Diana Rondan</h4>
                  <p class="social-type">
                    Comentario realizado a través de Facebook.
                  </p>
                </div>
              </div>
            </div>

            <div class="testimonial-card">
              <div class="testimonial-social">
                <i class="fa-brands fa-facebook"></i>
              </div>
              <div class="testimonial-details">
                <div class="description">
                  «Estoy re-contenta. Muchas gracias a todos por ser tan
                  generosos con todo el material y contribuir a expandir mis
                  conocimiento en Normas Internacionales de Información
                  Financiera, y agradecida por tocar temas interesantes que
                  contribuyeron a mi carrera profesional«
                </div>
                <div class="photo">
                  <img
                    src="../../../assets/home/testimonials/diana-rondan.jpg"
                    alt=""
                  />
                </div>
                <div class="customer-name">
                  <h4>Diana Rondan</h4>
                  <p class="social-type">
                    Comentario realizado a través de Facebook.
                  </p>
                </div>
              </div>
            </div>

            <div class="testimonial-card">
              <div class="testimonial-social">
                <i class="fa-brands fa-facebook"></i>
              </div>
              <div class="testimonial-details">
                <div class="description">
                  «Estoy re-contenta. Muchas gracias a todos por ser tan
                  generosos con todo el material y contribuir a expandir mis
                  conocimiento en Normas Internacionales de Información
                  Financiera, y agradecida por tocar temas interesantes que
                  contribuyeron a mi carrera profesional«
                </div>
                <div class="photo">
                  <img
                    src="../../../assets/home/testimonials/diana-rondan.jpg"
                    alt=""
                  />
                </div>
                <div class="customer-name">
                  <h4>Diana Rondan</h4>
                  <p class="social-type">
                    Comentario realizado a través de Facebook.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path
      fill="#1095AF"
      fill-opacity="1"
      d="M0,320L20,288C40,256,80,192,120,149.3C160,107,200,85,240,90.7C280,96,320,128,360,122.7C400,117,440,75,480,85.3C520,96,560,160,600,176C640,192,680,160,720,154.7C760,149,800,171,840,170.7C880,171,920,149,960,117.3C1000,85,1040,43,1080,53.3C1120,64,1160,128,1200,128C1240,128,1280,64,1320,32C1360,0,1400,0,1420,0L1440,0L1440,0L1420,0C1400,0,1360,0,1320,0C1280,0,1240,0,1200,0C1160,0,1120,0,1080,0C1040,0,1000,0,960,0C920,0,880,0,840,0C800,0,760,0,720,0C680,0,640,0,600,0C560,0,520,0,480,0C440,0,400,0,360,0C320,0,280,0,240,0C200,0,160,0,120,0C80,0,40,0,20,0L0,0Z"
    ></path>
  </svg>
  <div class="contacto-form ejecutiva">
    <div class="ejecutiva-desc">
      <h3 data-aos="fade-up" data-aos-duration="800">Contáctanos </h3>
      
      <div class="medios"></div>
      <div data-aos="fade-up" data-aos-duration="1000">
        <form action="">
          <mat-form-field class="example-full-width">
            <mat-label>Nombres</mat-label>
            <input matInput />
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Apellidos</mat-label>
            <input matInput />
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Por ejemplo tunombre@gmail.com" />
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Asunto</mat-label>
            <textarea
              matInput
              placeholder="Por ejemplo Asunto Cotización Curso Laboral"
            ></textarea>
          </mat-form-field>
        </form>
        <button class="btn-ejecutiva" data-aos="fade-up" data-aos-duration="1500">
          Enviar
        </button>
        
      </div>
  
    </div>
    <div class="ejecutiva-img">
      <img
        data-aos="fade-zoom-in"
        data-aos-duration="1500"
        src="../../../assets/home/home2.png"
        alt=""
      />
    </div>
  </div>
</div>
<app-footer></app-footer>