<div class="add-user-container">
    <div class="header">
      <div class="title">
        <h3>Crear Evento</h3>
      </div>
    </div>
  
    <div class="form-container">
      <form class="form-datos" (ngSubmit)="actualizarEvento()">
        <mat-form-field appearance="outline">
          <mat-label>Titulo del evento</mat-label>
          <input
            matInput
            name="titulo"
            [(ngModel)]="evento.titulo"
            placeholder="VI Congreso Tributario del Perú – CONTRIPERÚ 2022"
          />
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 180px;">
          <mat-label>Fecha</mat-label>
          <input
            matInput
            name="fecha"
            [(ngModel)]="evento.fecha"
            placeholder="26 de Marzo del 2023"
          />
        </mat-form-field>
 
        <mat-form-field appearance="fill" style="width: 200px;">
            <mat-label>Modalidad</mat-label>
            <mat-select
              name="idModalidad"
              [(ngModel)]="evento.modalidad_evento.idModalidad"
            >
              <mat-option
                *ngFor="let modalidad of listaModalidad"
                [value]="modalidad.idModalidad"
                >{{ modalidad.nombre }}</mat-option
              >
            </mat-select>
          </mat-form-field>

  
        <angular-editor style="margin-top:20px; " [placeholder]="'Ingrese la descripción del curso...'" name="descripcion" [(ngModel)]="evento.descripcion"></angular-editor>
        
        <mat-card-actions style="width: 100%; margin-top: 35px; margin-bottom:100px;">
          <button type="submit" mat-raised-button color="primary">
            Crear Evento
          </button>
  
          <a
            routerLink="/dashboard/ver-eventos"
            mat-raised-button
            style="margin-left: 30px"
            >Cancelar</a
          >
        </mat-card-actions>
      </form>
  
      <form
        (ngSubmit)="onUpload()"
        novalidate
        class="form-imagen"
        enctype="multipart/form-data"
      >
        Agregar Imagen:
  
        <input
          #imagenInputFile
          id="imagen"
          type="file"
          accept="image/png, image/jpeg,image/jpg, image/tiff"
          (change)="onFileChange($event)"
        />
  
        <div *ngIf="evento.fotografia" style="margin-top: 20px; width: 100%">
          <h5>Vista Previa:</h5>
          <img
            class="image-thumbnail"
            style="max-width: 100px"
            [src]="evento.fotografia"
            alt=""
          />
        </div>
  
        <mat-card-actions style="margin-top: 50px; width: 100%">
          <button
            style="margin-right: 25px"
            type="submit"
            mat-raised-button
            color="primary"
            [disabled]="!imagen"
          >
            <i class="fa-solid fa-cloud-arrow-up"></i>
          </button>
          <button
            type="submit"
            mat-raised-button
            color="info"
            [disabled]="!imagen"
            (click)="reset()"
          >
            <i class="fa-solid fa-repeat"></i>
          </button>
        </mat-card-actions>
      </form>
    </div>
   
  </div>
  