
.cursos-container{
    margin-top:64px;
    width:100%;
    min-height:100%;
}

.banner{
    width:100%;
    height:400px;
    background-image:url("../../../assets/cursos/grupo-contable-capacitaciones-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom:40px;
}

.ejecutiva{
    width: 80%;
    height: 450px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top:130px;
  
  }
  .ejecutiva .ejecutiva-desc{
    width: 50%;
    margin-top:-50px;
  
  }
  
  .ejecutiva .ejecutiva-desc h3{
    font-size: 45px;
    color: var(--celeste);
    font-weight: bold;
    line-height: 1.1;
    margin-top:10px;
  
  }
  
  .ejecutiva .ejecutiva-desc p{
    font-size: 21px;
    color: #202E44;
    text-align: center;  
    text-align:left;
    width: 90%;
    line-height: 1.1;
    text-align: justify;
    margin-top:10px;
  
  }
  .ejecutiva .ejecutiva-img{
    width: 50%;
  }
  
  .ejecutiva .ejecutiva-img img{
    width:100%;
    height:450px;
    object-fit: contain;
  }

.banner .title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
    position:relative;
    background: rgb(69,179,214);
    background: linear-gradient(177deg, rgba(69,179,214,0.8267506831834296) 0%, rgba(0,0,0,1) 100%); 
}

.title h1{
 
    color: #fff;
font-size: 45px;
line-height: 1.5;
font-family: "Source Sans Pro","Playfair Display" ,"Rubik", sans-serif;
letter-spacing: 1px;
text-transform: uppercase;
font-weight: bold;

text-align: center;

}

.title .paragraph   {
    width: 50%;
    color: #fff;
    font-size: 20px;
    text-align:center;
    font-family: "Source Sans Pro","Playfair Display" ,"Rubik", sans-serif;


}


/***CARDS***/

.card-brindamos{
  width:95%;
  display:flex;
  justify-content: space-around;
  margin: 0 auto;
  flex-wrap: wrap;
  margin-top:60px;
}
/********* ICONS-HOME********/

mat-accordion{
width: 230px;
margin:0;
padding:0;
font-family: 'Source Sans Pro';
margin-bottom:20px;
}

mat-accordion:hover mat-panel-title p  {
  color:var(--celeste);
}
.icon-home{
  width: 40px;
  height:40px;
  background-color: rgb(16, 149, 175);
  color: #fff;
  border-radius: 50%;
  margin-right:10px;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}
.icon-home mat-icon{
  font-size: 25px;
  margin:0;
  padding:0;
}
mat-expansion-panel-header{
  height: 120px;
}

mat-panel-title {
  display:flex;
  justify-content: center;
}
mat-panel-title p {
  font-family: 'Source Sans Pro';
font-weight: bolder;
  font-size: 18px;
  margin: 0;
  padding:0;
 
}

/************* titulos separadores ******/

.titulos{
  font-size: 45px;
  color: var(--celeste);
  font-weight: bold;
  line-height: 1.1;
  margin-top:10px;

}
/*POR QUÉ ELEGIR A GRUPO CONTABLE*/

.info-title {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 40px;
    text-align: center;
    padding-left:20px;
  }
  
  .info-title h3 {
    font-size: 35px;
    color: #0F92AD;
    font-family: "Playfair Display" ,"Rubik", sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    line-height:1.5;
  
  }


/***** CARDS CURSOS ******/

.cursos-items{
    display:flex;
    width: 90%;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 50px;
    gap:20px;
}


/**titulo tipo curso***/

.tipo-curso{
    width: 250px;
    height:50px;
    display: flex;
    background: #199FB8;
    text-align: center;
    border-radius: 8px;
    margin-left:50px;
     clip-path: polygon(91% 0, 100% 50%, 88% 100%, 0% 100%, 4% 53%, 0% 0%);
     margin-top:80px;
     cursor:pointer;
}
.tipo-curso a{
    width: 100%;
    height: 100%;
    font-size: 17px;
    font-family:"Rubik", sans-serif;
    text-decoration: none;
    color: #fff;
    margin-top: 10px;

}
/* 
.curso-card{
    width:350px;
    height:330px;
}

.curso-card img{
    margin: 0 auto;
    width:100%;
    height:180px;
}

.curso-card h3{
    font-size: 21px;
    text-align: center;
     width: 100%;
     color: var(--negro);
     font-family: "Roboto", sans-serif;
     font-weight: 600;
     line-height:1;
     letter-spacing:0.5px;
     padding-top:10px;
     word-wrap: break-word;
}

.curso-card p{
    width: 100%;
    font-size: 13.5px;
    color: rgb(90, 90, 90);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    text-align: center;
} */


/******** course card *************/
.course-card {
    width: 220px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    color:black;
    cursor:pointer;
    background-color: rgba(245, 243, 243, 0.432);
}

.course-img {
    width: 100%;
    height: 130px;
}

.course-img img {
    width: 100%;
    height: 100%;
}

.course-desc  {
    width: 100%;
    height: 130px;
    padding-left: 1px;


}

.course-desc .title{
    display:block !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.1;
padding:0px 5px 0 0px;
margin-top:8px;
}

/************** CURSOS TABSSSSSSS*/
/************ BODY**************************/

.body-container {
    width: 98%;
    margin: 0 auto;
    padding-top: 50px;
}



/**** TAB-HOME********/
.tab-home{
    width: 95%;
    margin:0 auto;
    height:500px;

}

.template-header{
    margin-top:35px;
}
.template-header h2{
    font-size: 24px;
    font-weight: 550;
    padding:0;
    margin:0;
    padding-bottom:6px;
}

.template-header p{
    font-size: 16px;
    padding-bottom:10px;
}



.iniciar-sesion{
    background-color:#fff;
    width: 170px;
    height: 45px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    margin-bottom:30px;
        
    border: 1px solid rgb(61, 61, 61);
 
}
.iniciar-sesion a{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-weight: 550;
    font-size: 14px;
    color: rgb(0, 0, 0);
    text-decoration:none;
}
.ancla:hover a{
    font-size: 13px;
    
}
.iniciar-sesion:hover{
   
    font-size: 14px;
    background-color:  rgb(0, 0, 0);

}

.iniciar-sesion:hover a{
    color:#fff;
}



.example-tab-icon{
    margin-left:3px;
    margin-top:-6px;
    color: rgb(31, 31, 31);
}
.title-h2 {
    font-family: 'Source Sans Pro', 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 35px;
}


/*********** COURSES***************/
.courses-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}


/****** SWIPER *******************/

.swiper-container {
    width: 100%;
    height: 300px;
  }
  