<div class="cursos-container">
  <div class="banner">
    <div class="title">
      <h1>GC Business School</h1>
      <p class="paragraph">
        “Estudia con los especialistas en Contabilidad, NIIF, Derecho
        Tributario, Derecho Laboral y Gestión Pública”
      </p>
    </div>
  </div>

  <div class="ejecutiva">
    <div class="ejecutiva-desc">
      <h3 data-aos="fade-up" data-aos-duration="800">
        ¿Por qué elegir a Grupo Contable?
      </h3>
      <p data-aos="fade-up" data-aos-duration="1000">
        Estudia con los mejores docentes en las diversas áreas
      </p>
      <!-- <button class="btn-ejecutiva" data-aos="fade-up" data-aos-duration="1500">
            Ver Docentes
          </button> -->
    </div>
    <div class="ejecutiva-img">
      <img
        data-aos="fade-zoom-in"
        data-aos-duration="1500"
        src="../../../assets/home/home3.png"
        alt=""
      />
    </div>
  </div>

  <div class="card-brindamos">
    <mat-accordion data-aos="fade-up" data-aos-duration="2000">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="icon-home">
              <mat-icon> bubble_chart </mat-icon>
            </div>
            <p>Nos dirigimos</p>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          A todo tipo de organización pública y privada que deseen capacitación
          de calidad para mejorar y obtener mayor productividad y rentabilidad
          en sus negocios, a estudiantes y profesionales que busquen consolidar
          sus conocimientos, para afrontar un escenario laboral competitivo.
        </p>
      </mat-expansion-panel>
    </mat-accordion>

    <!-- simposios -->
    <mat-accordion data-aos="fade-up" data-aos-duration="2000">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="icon-home">
              <mat-icon> filter_vintage </mat-icon>
            </div>
            <p>Nuestro Equipo</p>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Contamos con plana docente de amplia experiencia profesional, que son
          socios y asociados a nuestra organización, como también profesionales
          convocados de las principales firmas de abogados y de auditoría
          internacional.
        </p>
      </mat-expansion-panel>
    </mat-accordion>

    <!-- cursos -->
    <mat-accordion data-aos="fade-up" data-aos-duration="2000">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="icon-home">
              <mat-icon> local_library </mat-icon>
            </div>
            <p>Equipamiento</p>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Nuestras eventos de capacitaciones se desarrollan en amplios
          auditorios, aulas, y laboratorios de cómputo de última tecnología,
          proyectores multimedia y red inalámbrica para acceso gratuito a
          internet y una plataforma profesional para cursos virtuales.
        </p>
      </mat-expansion-panel>
    </mat-accordion>

    <!-- In company -->
    <mat-accordion data-aos="fade-up" data-aos-duration="2000">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="icon-home">
              <mat-icon>streetview</mat-icon>
            </div>
            <p>Experiencia</p>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Nuestra expericiencia en temas Contables, Tributarios, Laborales y en
          Gestión Pública, son nuestra mejor presentación para entregarte
          eventos académico de calidad, conociendo perfectamente sus necesidades
          y el modo efectivo de satisfacerlas.
        </p>
      </mat-expansion-panel>
    </mat-accordion>

    <!-- In company -->
    <mat-accordion data-aos="fade-up" data-aos-duration="2000">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="icon-home">
              <mat-icon>toys </mat-icon>
            </div>
            <p>Metodología</p>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          En cada sesión de clase se considera casos prácticos integrales, el
          cual permite consolidar el conocimiento teórico. Nos preocupamos por
          brindar una enseñanza activa y participativa que garantiza una mayor
          asimilación del conocimiento.
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="info-title">
    <h3 data-aos="fade-up" data-aos-duration="1500">Cursos</h3>
  </div>
  <div class="body-container">
    <h2 class="title-h2">Brindamos una amplia colección de cursos</h2>
    <p class="paragraph">
      Elige entre los cursos presenciales y virtuales que brindamos en cada mes.
    </p>

    <div class="tab-home">
      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
            Contable
            <mat-icon class="example-tab-icon">account_balance</mat-icon>
          </ng-template>
          <div class="template-header">
            <h2>Amplia tus conocimientos con nuestros cursos Contables</h2>
            <p>
              Tanto si trabajas en el segmento del aprendizaje automático o de
              las finanzas como si deseas desarrollar tu carrera en ciencias de
              datos o desarrollo web, Python es una de las habilidades más
              importantes que puedes aprender. La sencilla sintaxis de Python es
              especialmente adecuada para equipos de escritorio
            </p>
            <div class="ancla iniciar-sesion">
              <a href="/">Explorar Contable</a>
            </div>
          </div>
          <div class="swiper">
            <div class="contable swiper-wrapper">
              <a
                class="course-card swiper-slide"
                *ngFor="let contables of cursosContables"
              >
                <div class="course-img">
                  <img [src]="contables.imagenLink" alt="" />
                </div>
                <div class="course-desc">
                  <span class="title">{{ contables.nombre }}</span>
                  <p class="docente">{{ contables.docente }}</p>
                  <span class="categoria"
                    >{{ contables.categoria }} -
                    {{ contables.modalidad | uppercase }}</span
                  >
                  <p class="fecha">Inicio: {{ contables.inicio_clases }}</p>
                  <p class="precio">
                    {{ contables.inversion | currency : " PEN " }}
                  </p>
                </div>
              </a>
            </div>
          </div>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            Tributario
            <mat-icon class="example-tab-icon">business</mat-icon>
          </ng-template>
          <div class="template-header">
            <h2>Aprende a detalle todo sobre las Tributaciones</h2>
            <p>
              Independientemente del sector en el que trabajes, Microsoft Office
              Excel es un valioso programa de hoja de cálculo para la
              organización y representación de datos. Excel ofrece funciones,
              fórmulas y tablas dinámicas para ayudarte a añadir y analizar
              grandes conjuntos de información.
            </p>
            <div class="ancla iniciar-sesion">
              <a href="/">Explorar Tributario</a>
            </div>
          </div>
          <div class="swiper">
            <div class="tributarios swiper-wrapper">
              <a
                class="course-card swiper-slide"
                *ngFor="let tributarios of cursosTributarios"
              >
                <div class="course-img">
                  <img [src]="tributarios.imagenLink" alt="" />
                </div>
                <div class="course-desc">
                  <span class="title">{{ tributarios.nombre }}</span>
                  <p class="docente">{{ tributarios.docente }}</p>
                  <span class="categoria">{{ tributarios.categoria }}</span>
                  <p class="fecha">Inicio: {{ tributarios.inicio_clases }}</p>
                  <p class="precio">
                    {{ tributarios.inversion | currency : " PEN " }}
                  </p>
                </div>
              </a>
            </div>
          </div>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            Laboral
            <mat-icon class="example-tab-icon">work</mat-icon>
          </ng-template>
          <div class="template-header">
            <h2>Adquiere conocimientos sobre aspectos Laborales</h2>
            <p>
              Además de ser la base sobre la que se construyen la mayoría de las
              formas de arte, el dibujo es también una excelente manera de
              aliviar el estrés y de alimentar tu creatividad interior. El
              dibujo nos enseña a ser observadores, a desarrollar la atención al
              detalle y a expresarnos.
            </p>
            <div class="ancla iniciar-sesion">
              <a href="/">Explorar Laboral</a>
            </div>
          </div>
          <div class="swiper-container">
            <div class="swiper-wrapper laborales">
              <a class="swiper-slide course-card ">
                <div class="course-img">
                  <!-- <img [src]="laborales.imagenLink" alt=""> -->
                  <img
                    src="../../../assets/cursos/ejemplo-img-curso-2.png"
                    alt=""
                  />
                </div>
                <div class="course-desc">
                  <span class="title">Curso Contable N° 01</span>
                  <p class="docente">Jose Jose</p>
                  <span class="categoria">Contable</span>
                  <p class="fecha">Inicio: 10 Enero</p>
                  <p class="precio">
                    <!-- {{laborales.inversion | currency:' PEN '}} -->

                    S/ 10.00
                  </p>
                </div>
              </a>

              <a class="course-card swiper-slide">
                <div class="course-img">
                  <!-- <img [src]="laborales.imagenLink" alt=""> -->
                  <img
                    src="../../../assets/cursos/ejemplo-img-curso-2.png"
                    alt=""
                  />
                </div>
                <div class="course-desc">
                  <span class="title">DSADSAMDKSAMKDSMA</span>
                  <p class="docente">Jose Jose</p>
                  <span class="categoria">Contable</span>
                  <p class="fecha">Inicio: 10 Enero</p>
                  <p class="precio">
                    <!-- {{laborales.inversion | currency:' PEN '}} -->

                    S/ 10.00
                  </p>
                </div>
              </a>

              <a class="course-card swiper-slide">
                <div class="course-img">
                  <!-- <img [src]="laborales.imagenLink" alt=""> -->
                  <img
                    src="../../../assets/cursos/ejemplo-img-curso-2.png"
                    alt=""
                  />
                </div>
                <div class="course-desc">
                  <span class="title">DSADSAMDKSAMKDSMA</span>
                  <p class="docente">Jose Jose</p>
                  <span class="categoria">Contable</span>
                  <p class="fecha">Inicio: 10 Enero</p>
                  <p class="precio">
                    <!-- {{laborales.inversion | currency:' PEN '}} -->

                    S/ 10.00
                  </p>
                </div>
              </a>

              <a class="course-card swiper-slide">
                <div class="course-img">
                  <!-- <img [src]="laborales.imagenLink" alt=""> -->
                  <img
                    src="../../../assets/cursos/ejemplo-img-curso-2.png"
                    alt=""
                  />
                </div>
                <div class="course-desc">
                  <span class="title">DSADSAMDKSAMKDSMA</span>
                  <p class="docente">Jose Jose</p>
                  <span class="categoria">Contable</span>
                  <p class="fecha">Inicio: 10 Enero</p>
                  <p class="precio">
                    <!-- {{laborales.inversion | currency:' PEN '}} -->

                    S/ 10.00
                  </p>
                </div>
              </a>

              <a class="course-card swiper-slide">
                <div class="course-img">
                  <!-- <img [src]="laborales.imagenLink" alt=""> -->
                  <img
                    src="../../../assets/cursos/ejemplo-img-curso-2.png"
                    alt=""
                  />
                </div>
                <div class="course-desc">
                  <span class="title">DSADSAMDKSAMKDSMA</span>
                  <p class="docente">Jose Jose</p>
                  <span class="categoria">Contable</span>
                  <p class="fecha">Inicio: 10 Enero</p>
                  <p class="precio">
                    <!-- {{laborales.inversion | currency:' PEN '}} -->

                    S/ 10.00
                  </p>
                </div>
              </a>

              <a class="course-card swiper-slide">
                <div class="course-img">
                  <!-- <img [src]="laborales.imagenLink" alt=""> -->
                  <img
                    src="../../../assets/cursos/ejemplo-img-curso-2.png"
                    alt=""
                  />
                </div>
                <div class="course-desc">
                  <span class="title">DSADSAMDKSAMKDSMA</span>
                  <p class="docente">Jose Jose</p>
                  <span class="categoria">Contable</span>
                  <p class="fecha">Inicio: 10 Enero</p>
                  <p class="precio">
                    <!-- {{laborales.inversion | currency:' PEN '}} -->

                    S/ 10.00
                  </p>
                </div>
              </a>

              <a class="course-card swiper-slide">
                <div class="course-img">
                  <!-- <img [src]="laborales.imagenLink" alt=""> -->
                  <img
                    src="../../../assets/cursos/ejemplo-img-curso-2.png"
                    alt=""
                  />
                </div>
                <div class="course-desc">
                  <span class="title">DSADSAMDKSAMKDSMA</span>
                  <p class="docente">Jose Jose</p>
                  <span class="categoria">Contable</span>
                  <p class="fecha">Inicio: 10 Enero</p>
                  <p class="precio">
                    <!-- {{laborales.inversion | currency:' PEN '}} -->

                    S/ 10.00
                  </p>
                </div>
              </a>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
<app-footer></app-footer>