<div class="cursos-container">
    <div class="banner">
        <div class="title">
            <h1>GC Business School</h1>
            <p>“Estudia con los especialistas en Contabilidad, NIIF, Derecho Tributario, Derecho Laboral y Gestión
                Pública”</p>
        </div>
    </div>
    <div class="info-title">
        <h3 data-aos="fade-up" data-aos-duration="1500">¿Por qué elegir a Grupo Contable?</h3>
        <div class="linear" data-aos="fade-right" data-aos-duration="1500">
            <div class="linear-element"></div>
            <div class="linear-element center"></div>
            <div class="linear-element"></div>
        </div>
        <p data-aos="fade-up" class="historia-p" data-aos-duration="1500">
        </p>
    </div>
    <div class="cards">
        <div class="card" data-aos="fade-up" data-aos-duration="800">
            <img src="../../../assets/cursos/nos-dirigimos.jpg" alt="">
            <h3>Nos dirigimos</h3>
            <p>A todo tipo de organización pública y privada que deseen capacitación de calidad para mejorar y obtener
                mayor productividad y rentabilidad en sus negocios, a estudiantes y profesionales que busquen consolidar
                sus conocimientos, para afrontar un escenario laboral competitivo.</p>
        </div>
        <div class="card" data-aos="fade-up" data-aos-duration="800">
            <img src="../../../assets/cursos/equipo.jpg" alt="">
            <h3>Nuestro Equipo</h3>
            <p>Contamos con plana docente de amplia experiencia profesional, que son socios y asociados a nuestra
                organización, como también profesionales convocados de las principales firmas de abogados y de auditoría
                internacional.</p>
        </div>

        <div class="card" data-aos="fade-up" data-aos-duration="800">
            <img src="../../../assets/cursos/equipamiento.jpg" alt="">
            <h3>Equipamiento</h3>
            <p>Nuestras eventos de capacitaciones se desarrollan en amplios auditorios, aulas, y laboratorios de cómputo
                de última tecnología, proyectores multimedia y red inalámbrica para acceso gratuito a internet y una
                plataforma profesional para cursos virtuales.</p>
        </div>

        <div class="card" data-aos="fade-up" data-aos-duration="800">
            <img src="../../../assets/cursos/experiencia.jpg" alt="">
            <h3>Experiencia</h3>
            <p>Nuestra expericiencia en temas Contables, Tributarios, Laborales y en Gestión Pública, son nuestra mejor
                presentación para entregarte eventos académico de calidad, conociendo perfectamente sus necesidades y el
                modo efectivo de satisfacerlas.</p>
        </div>

        <div class="card" data-aos="fade-up" data-aos-duration="800">
            <img src="../../../assets/cursos/metodologia.jpg" alt="">
            <h3>Metodología</h3>
            <p>En cada sesión de clase se considera casos prácticos integrales, el cual permite consolidar el
                conocimiento teórico. Nos preocupamos por brindar una enseñanza activa y participativa que garantiza una
                mayor asimilación del conocimiento.</p>
        </div>

    </div>

    <div class="info-title">
        <h3 data-aos="fade-up" data-aos-duration="1500"> Cursos</h3>
        <div class="linear" data-aos="fade-right" data-aos-duration="1500">
            <div class="linear-element"></div>
            <div class="linear-element center"></div>
            <div class="linear-element"></div>
        </div>
        <p data-aos="fade-up" class="historia-p" data-aos-duration="1500">
        </p>
    </div>

   <div class="cursos-list">
    <div class="tipo-curso" data-aos="fade-right" data-aos-duration="800">
        <a routerLink="cursos-contables">Cursos Contables</a>
    </div>
    <div class="cursos-items">
        
        <div class="curso-card card" data-aos="fade-up" data-aos-duration="800">
            <img src="../../../assets/cursos/ejemplo-img-curso.png" alt="">
            <h3>Curso Tributación en el Sector Turismo</h3>
            <p>Cursos Tributarios, Cursos Virtuales</p>
        </div>
        <div class="curso-card card" data-aos="fade-up" data-aos-duration="800">
            <img src="../../../assets/cursos/ejemplo-img-curso-2.png" alt="">
            <h3>Programa de Alta Especialización Asistente de Planillas</h3>
            <p>Cursos Contables, Cursos Virtuales</p>
        </div>
        <div class="curso-card card" data-aos="fade-up" data-aos-duration="800">
            <img src="../../../assets/cursos/ejemplo-img-curso.png" alt="">
            <h3>Curso Tributación en el Sector Turismo</h3>
            <p>Cursos Tributarios, Cursos Virtuales</p>
        </div>
        <div class="curso-card card" data-aos="fade-up" data-aos-duration="800">
            <img src="../../../assets/cursos/ejemplo-img-curso-2.png" alt="">
            <h3>Programa de Alta Especialización Asistente de Planillas</h3>
            <p>Cursos Contables, Cursos Virtuales</p>
        </div>
        <div class="curso-card card" data-aos="fade-up" data-aos-duration="800">
            <img src="../../../assets/cursos/ejemplo-img-curso.png" alt="">
            <h3>Curso Tributación en el Sector Turismo</h3>
            <p>Cursos Tributarios, Cursos Virtuales</p>
        </div>
        <div class="curso-card card" data-aos="fade-up" data-aos-duration="800">
            <img src="../../../assets/cursos/ejemplo-img-curso-2.png" alt="">
            <h3>Programa de Alta Especialización Asistente de Planillas</h3>
            <p>Cursos Contables, Cursos Virtuales</p>
        </div>
        <div class="curso-card card" data-aos="fade-up" data-aos-duration="800">
            <img src="../../../assets/cursos/ejemplo-img-curso.png" alt="">
            <h3>Curso Tributación en el Sector Turismo</h3>
            <p>Cursos Tributarios, Cursos Virtuales</p>
        </div>
        <div class="curso-card card" data-aos="fade-up" data-aos-duration="800">
            <img src="../../../assets/cursos/ejemplo-img-curso-2.png" alt="">
            <h3>Programa de Alta Especialización Asistente de Planillas</h3>
            <p>Cursos Contables, Cursos Virtuales</p>
        </div>
        <div class="curso-card card" data-aos="fade-up" data-aos-duration="800">
            <img src="../../../assets/cursos/ejemplo-img-curso.png" alt="">
            <h3>Curso Tributación en el Sector Turismo</h3>
            <p>Cursos Tributarios, Cursos Virtuales</p>
        </div>
            
    </div>

    <div class="tipo-curso" data-aos="fade-right" data-aos-duration="800">
        <a>Cursos Tributarios</a>
    </div>
    <div class="cursos-items">
        
        <div class="curso-card card" data-aos="fade-up" data-aos-duration="800">
            <img src="../../../assets/cursos/ejemplo-img-curso.png" alt="">
            <h3>Curso Tributación en el Sector Turismo</h3>
            <p>Cursos Tributarios, Cursos Virtuales</p>
        </div>
        <div class="curso-card card" data-aos="fade-up" data-aos-duration="800">
            <img src="../../../assets/cursos/ejemplo-img-curso-2.png" alt="">
            <h3>Programa de Alta Especialización Asistente de Planillas</h3>
            <p>Cursos Contables, Cursos Virtuales</p>
        </div>
        <div class="curso-card card" data-aos="fade-up" data-aos-duration="800">
            <img src="../../../assets/cursos/ejemplo-img-curso.png" alt="">
            <h3>Curso Tributación en el Sector Turismo</h3>
            <p>Cursos Tributarios, Cursos Virtuales</p>
        </div>
        <div class="curso-card card" data-aos="fade-up" data-aos-duration="800">
            <img src="../../../assets/cursos/ejemplo-img-curso-2.png" alt="">
            <h3>Programa de Alta Especialización Asistente de Planillas</h3>
            <p>Cursos Contables, Cursos Virtuales</p>
        </div>
        <div class="curso-card card" data-aos="fade-up" data-aos-duration="800">
            <img src="../../../assets/cursos/ejemplo-img-curso.png" alt="">
            <h3>Curso Tributación en el Sector Turismo</h3>
            <p>Cursos Tributarios, Cursos Virtuales</p>
        </div>
        <div class="curso-card card" data-aos="fade-up" data-aos-duration="800">
            <img src="../../../assets/cursos/ejemplo-img-curso-2.png" alt="">
            <h3>Programa de Alta Especialización Asistente de Planillas</h3>
            <p>Cursos Contables, Cursos Virtuales</p>
        </div>
          
    </div>

    <div class="tipo-curso" data-aos="fade-right" data-aos-duration="800">
        <a>Cursos Laborales</a>
    </div>
    <div class="cursos-items">
        
        <div class="curso-card card" data-aos="fade-up" data-aos-duration="800">
            <img src="../../../assets/cursos/ejemplo-img-curso.png" alt="">
            <h3>Curso Tributación en el Sector Turismo</h3>
            <p>Cursos Tributarios, Cursos Virtuales</p>
        </div>
        <div class="curso-card card" data-aos="fade-up" data-aos-duration="800">
            <img src="../../../assets/cursos/ejemplo-img-curso-2.png" alt="">
            <h3>Programa de Alta Especialización Asistente de Planillas</h3>
            <p>Cursos Contables, Cursos Virtuales</p>
        </div>
        <div class="curso-card card" data-aos="fade-up" data-aos-duration="800">
            <img src="../../../assets/cursos/ejemplo-img-curso.png" alt="">
            <h3>Curso Tributación en el Sector Turismo</h3>
            <p>Cursos Tributarios, Cursos Virtuales</p>
        </div>
        <div class="curso-card card" data-aos="fade-up" data-aos-duration="800">
            <img src="../../../assets/cursos/ejemplo-img-curso-2.png" alt="">
            <h3>Programa de Alta Especialización Asistente de Planillas</h3>
            <p>Cursos Contables, Cursos Virtuales</p>
        </div>
        <div class="curso-card card" data-aos="fade-up" data-aos-duration="800">
            <img src="../../../assets/cursos/ejemplo-img-curso.png" alt="">
            <h3>Curso Tributación en el Sector Turismo</h3>
            <p>Cursos Tributarios, Cursos Virtuales</p>
        </div>
    </div>

<!-- CURSOS GUBERNAMENTALES-->
    <div class="tipo-curso"  data-aos="fade-right" data-aos-duration="800">
        <a>Cursos Gubernamentales</a>
    </div>
    <div class="cursos-items">
        
        <div class="curso-card card" data-aos="fade-up" data-aos-duration="800">
            <img src="../../../assets/cursos/ejemplo-img-curso.png" alt="">
            <h3>Curso Tributación en el Sector Turismo</h3>
            <p>Cursos Tributarios, Cursos Virtuales</p>
        </div>
        <div class="curso-card card" data-aos="fade-up" data-aos-duration="800">
            <img src="../../../assets/cursos/ejemplo-img-curso-2.png" alt="">
            <h3>Programa de Alta Especialización Asistente de Planillas</h3>
            <p>Cursos Contables, Cursos Virtuales</p>
        </div>
        <div class="curso-card card" data-aos="fade-up" data-aos-duration="800">
            <img src="../../../assets/cursos/ejemplo-img-curso.png" alt="">
            <h3>Curso Tributación en el Sector Turismo</h3>
            <p>Cursos Tributarios, Cursos Virtuales</p>
        </div>
        <div class="curso-card card" data-aos="fade-up" data-aos-duration="800">
            <img src="../../../assets/cursos/ejemplo-img-curso-2.png" alt="">
            <h3>Programa de Alta Especialización Asistente de Planillas</h3>
            <p>Cursos Contables, Cursos Virtuales</p>
        </div>
        <div class="curso-card card" data-aos="fade-up" data-aos-duration="800">
            <img src="../../../assets/cursos/ejemplo-img-curso.png" alt="">
            <h3>Curso Tributación en el Sector Turismo</h3>
            <p>Cursos Tributarios, Cursos Virtuales</p>
        </div>
    </div>
   </div>
</div>