<div class="add-user-container">
    <div class="header">
      <div class="title">
        <h3>Crear Blog</h3>
      </div>
    </div>
  
    <div class="form-container">
      <form class="form-datos" (ngSubmit)="actualizarBlog()">
        <mat-form-field appearance="outline">
          <mat-label>Titulo del Blog</mat-label>
          <input
            matInput
            name="titulo"
            [(ngModel)]="blog.titulo"
            placeholder="Conozca los efectos tributarios y laborales del nuevo valor de la UIT para el 2023"
          />
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 230px;">
          <mat-label>Fecha</mat-label>
          <input
            matInput
            name="fecha"
            [(ngModel)]="blog.fecha"
            placeholder="26 de Marzo del 2023"
          />
        </mat-form-field>
 
        <mat-form-field appearance="outline" style="width: 230px;">
            <mat-label>Tipo de Publicación</mat-label>
            <input
              matInput
              name="tipoPublicacion"
              [(ngModel)]="blog.tipoPublicacion"
              placeholder="Laboral"
            />
           
          </mat-form-field>

  
        <angular-editor style="margin-top:20px; " [placeholder]="'Ingrese la descripción del curso...'" name="descripcion" [(ngModel)]="blog.descripcion"></angular-editor>
        
        <mat-card-actions style="width: 100%; margin-top: 35px; margin-bottom:100px;">
          <button type="submit" mat-raised-button color="primary">
            Actualizar Blog
          </button>
  
          <a
            routerLink="/dashboard/ver-blogs"
            mat-raised-button
            style="margin-left: 30px"
            >Cancelar</a
          >
        </mat-card-actions>
      </form>
  
      <form
        (ngSubmit)="onUpload()"
        novalidate
        class="form-imagen"
        enctype="multipart/form-data"
      >
        Agregar Imagen:
  
        <input
          #imagenInputFile
          id="imagen"
          type="file"
          accept="image/png, image/jpeg,image/jpg, image/tiff"
          (change)="onFileChange($event)"
        />
  
        <div *ngIf="blog.imagen" style="margin-top: 20px; width: 100%">
          <h5>Vista Previa:</h5>
          <img
            class="image-thumbnail"
            style="max-width: 100px"
            [src]="blog.imagen"
            alt=""
          />
        </div>
  
        <mat-card-actions style="margin-top: 50px; width: 100%">
          <button
            style="margin-right: 25px"
            type="submit"
            mat-raised-button
            color="primary"
            [disabled]="!imagen"
          >
            <i class="fa-solid fa-cloud-arrow-up"></i>
          </button>
          <button
            type="submit"
            mat-raised-button
            color="info"
            [disabled]="!imagen"
            (click)="reset()"
          >
            <i class="fa-solid fa-repeat"></i>
          </button>
        </mat-card-actions>
      </form>
    </div>
   
  </div>
  