body {
    width: 100%;
    height: 100%;
}

.actualizar-categoria-container {
    width: 80vw;
    height: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

}

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
}


.header .title {
    text-align: center; 
    width: 100%;
    padding-top: 30px;
    padding-bottom: 10px;
}

.title h3 {
    font-family: 'Source Sans Pro', 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: rgb(16, 149, 175);
    text-align: center;
}


form{
    width: 50%;
    margin: -280px auto;
    height: 400px;
    font-family: 'Source Sans Pro', 'Roboto', sans-serif;
    color:rgb(56, 56, 56);
}

form mat-card{
    width: 100%;
    height: 100%;
}
form mat-form-field{
    width: 90%;
    font-family: 'Source Sans Pro', 'Roboto', sans-serif;
    color:rgb(41, 41, 41);
}

form mat-form-field input{
    width: 100%;
    height:35px;
}

mat-card-actions{
    display:flex;
    flex-direction: row;
    justify-content:space-around;

}