/* You can add global styles to this file, and also import other style files */

@import '~swiper/swiper-bundle';


html{
  scrollbar-width: thin;
  scrollbar-color: #1095AF rgba(146, 146, 146, 0.596) ;
  
}
html, body { height: 100%; 
margin:0; padding:0;
box-sizing: border-box;


  }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(243, 242, 242);
 }

 .fixed{
  position: fixed;
  width: 100%;
  transition: 0.25s linear;
  top:0px;
  border-bottom:1px solid rgba(0, 0, 0, 0.178);
}

.nofixed{
  position: static;
  transition: 0.25s linear;
  top:-55px;
}



::-webkit-scrollbar {

  width: 8px;     /* Tamaño del scroll en vertical */

  height: 8px;    /* Tamaño del scroll en horizontal */


}


.info-title h3 {
  font-size: 35px;
  color: var(--negro);
  font-family: "Playfair Display" , sans-serif;
  font-weight: 600;
  letter-spacing: 4px;
  line-height:2;
  text-transform: uppercase;

}

