<div class="add-curso-container">
 
      <h3 style="text-align: center;">Crear Curso</h3>

      <div>dsamdksamkdsmakdmsakdmsakdmsakmdsa</div>
      <div>dsamdksamkdsmakdmsakdmsakdmsakmdsa</div>
      <div>dsamdksamkdsmakdmsakdmsakdmsakmdsa</div>
      <div>dsamdksamkdsmakdmsakdmsakdmsakmdsa</div>
      <div>dsamdksamkdsmakdmsakdmsakdmsakmdsa</div>
      <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, quaerat, ducimus repudiandae laborum minus earum at possimus illum quas ut quia doloribus voluptas magnam odio tenetur sequi nisi error animi.</div>
</div>
