  <ngb-carousel>
    <ng-template *ngFor="let imgs of imgsCarousel" ngbSlide>
      <div class="img-wrapper">
      <img src="{{imgs.img}}" alt="">
      </div>
    </ng-template>
  </ngb-carousel>
  <div style="height: 150px; overflow: hidden; margin-top:-5px;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-1.97,54.78 C149.99,150.00 328.15,143.59 501.41,3.48 L502.54,-0.47 L0.00,0.00 Z" style="stroke: none; fill: rgb(16, 149, 175);"></path></svg></div>

  